/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2024 Teclib' and contributors.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

// We do not display the navigation menu and the breadcrumbs for this page.
#navbar-menu,
.secondary-bar {
    display: none !important;
}

// Remove padding as we have a custom illustration as a background that should
// be displayed in full width.
.page-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0 !important;
}

header {
    // We do not want the navigation menu to be sticky on this page.
    &.sticky-lg-top {
        // Same as removing 'sticky-lg-top' class.
        position: relative !important;
    }

    // Limit the width on the header to the same width as the content.
    .header-container {
        // Same as adding 'container-xl' class.
        max-width: 1320px;

        --tblr-gutter-x: calc(var(--tblr-page-padding) * 2) !important;
        --tblr-gutter-y: 0 !important;
    }

    // Disable "right slide" effect on the user info dropdown as it is not on the
    // complete right side of the page for this special layout.
    .dropdown .animate__animated{
        // Same as removing the 'animate__animated' class
        animation-duration: unset !important;
    }
}

.home-search {
    line-height: 26px;

    &::placeholder {
        color: var(--glpi-mainmenu-bg);
    }
}

// Adjust nav styles to match our white background.
.home-tickets-tabs {
    border-bottom-color: white !important;

    .active {
        background-color: white !important;
    }

    .nav-link {
        border-bottom-color: white !important;
    }
}

#open-tickets-pane .search-card {
    .table-responsive-lg {
        overflow: scroll !important;
    }

    .search-card {
        border-top-left-radius: 0;
    }
}

// Hack to hide some columns until we can add proper display preferences for
// this list.
.home-tickets-list [data-searchopt-id="1"],
.home-tickets-list  [data-searchopt-content-id="1"],
.home-tickets-list [data-searchopt-id="2"],
.home-tickets-list  [data-searchopt-content-id="2"],
.home-tickets-list [data-searchopt-id="80"],
.home-tickets-list  [data-searchopt-content-id="80"],
.home-tickets-list [data-searchopt-id="12"],
.home-tickets-list  [data-searchopt-content-id="12"],
.home-tickets-list [data-searchopt-id="19"],
.home-tickets-list  [data-searchopt-content-id="19"],
.home-tickets-list [data-searchopt-id="15"],
.home-tickets-list  [data-searchopt-content-id="15"] {
    display: table-cell !important;
}

.home-tickets-list [data-searchopt-id],
.home-tickets-list  [data-searchopt-content-id] {
    display: none;
}
