#network_container {
   height: 70vh;

   div {
      z-index: 1 !important;
      position: absolute !important;
   }
}

#help_text {
   font-weight: bold;
   display: none;
}

#impact_tools {
   margin-left     : auto;
   margin-right    : 5px;
   background-color: white;
   padding         : 5px;
   border          : 1px solid lightgray;
   border-radius   : 2px;

   span:hover {
      background-color: lightgray;
      border-radius: 2px;
   }
}

#save_impact {
   font-weight   : bold;
   color         : gray;
   margin-right  : 20px;
}

.impact-mb-2 {
   margin-bottom: 2em;
}

.network-parent {
   border: 1px solid #f1f1f1;
   position:relative
}

.network-table {
   max-width: none !important;
}

.impact-dialog {
   display: none;
}

i.fa-impact-manipulation {
   display: inline;
   font-size: 14px;
}

.impact_toolbar {
   position       : absolute;
   display        : inline-flex;
   justify-content: flex-start;
   left           : 0;
   right          : 0;
   z-index        : 20;
   flex-wrap      : wrap;

   span {
      float     : left;
      color     : gray;
      font-size : 1.3em;
      padding   : 4px 8px;
      transition: all 0.3s ease;
      cursor    : pointer;
      border    : 2px inset transparent;
   }

   .active {
      border: 2px inset #f4f4f4;
      background-color: #fafafa;
   }
}

.impact_toolbar_right {
   float: right !important;
}

.clean {
   color: #1ca448 !important;
}

.dirty {
   color: #eea818 !important;

   &:hover {
      background-color: #fec95c !important;
      color: #8f5a0a !important;
   }
}

/*
 * "More" dropdown menu at the end of the toolbar
 */

.more-btn,
.more-menu-btn {
   background         : none;
   border             : 0 none;
   line-height        : normal;
   overflow           : visible;
   -webkit-user-select: none;
   -moz-user-select   : none;
   -ms-user-select    : none;
   width              : 100%;
   text-align         : left;
   outline            : none;
   cursor             : pointer;
}

.more-disabled {
   cursor: default !important;

   &:hover {
      background-color: white !important;
   }
}

.more-dot {
   background-color: #aab8c2;
   margin          : 0 auto;
   display         : inline-block;
   width           : 7px;
   height          : 7px;
   margin-right    : 1px;
   border-radius   : 50%;
   transition      : background-color 0.3s;
}

.more-menu {
   position        : absolute;
   top             : 42px;
   z-index         : 900;
   padding         : 10px 0;
   background-color: #fff;
   border          : 1px solid #ccd8e0;
   border-radius   : 4px;
   box-shadow      : 1px 1px 3px rgba(0,0,0,0.25);
   opacity         : 0;
   transform       : translate(0, 15px) scale(.95);
   transition      : transform 0.1s ease-out, opacity 0.1s ease-out;
   pointer-events  : none;
   right           : 1px;
}

.more-menu-caret {
   position: absolute;
   top     : -10px;
   right   : 10px;
   width   : 18px;
   height  : 10px;
   float   : left;
   overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
   position   : absolute;
   display    : inline-block;
   margin-left: -1px;
   font-size  : 0;
   line-height: 1;
}

.more-menu-caret-outer {
   border-bottom: 10px solid #c1d0da;
   border-left  : 10px solid transparent;
   border-right : 10px solid transparent;
   height       : auto;
   left         : 0;
   top          : 0;
   width        : auto;
}

.more-menu-caret-inner {
   top          : 1px;
   left         : 1px;
   border-left  : 9px solid transparent;
   border-right : 9px solid transparent;
   border-bottom: 9px solid #fff;
}

.more-menu-items {
   margin    : 0;
   list-style: none;
   padding   : 0;
}

.more-menu-item {
   display: block;

   &:hover {
      background-color: lightgray;
   }
}

.more-menu-btn {
   min-width  : 100%;
   color      : #66757f;
   cursor     : pointer;
   display    : block;
   font-size  : 13px;
   line-height: 18px;
   padding    : 5px 10px;
   position   : relative;
   white-space: nowrap;
   font-size  : 1.2em !important;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
   background-color: #516471;
}

.show-more-menu .more-menu {
   opacity: 1;
   transform: translate(0, 0) scale(1);
   pointer-events: auto;
}

/*
 * Cytoscape context menu
 */

.cy-context-menus-cxt-menuitem {
   padding-left: 5px !important;
   font-size: 1.15em;
   background-color:white;

   i {
      padding-right: 10px !important;
      color: gray;
      max-width: 10px;
   }
}

.cy-context-menus-cxt-menu {
   border-radius     : 2px;
   border            : 1px solid lightgray;
   -webkit-box-shadow: 4px 4px 6px 3px rgba(0,0,0,0.17);
   -moz-box-shadow   : 4px 4px 6px 3px rgba(0,0,0,0.17);
   box-shadow        : 4px 4px 6px 3px rgba(0,0,0,0.17);
}

/*
 * Custom range input
 */

.impact-range {
   height            : 18px;
   -webkit-appearance: none;
   margin            : 10px 0;
   border-width      : 0 !important;
   margin-top        : 0 !important;
   margin-bottom     : 0 !important;
}

.impact-range:focus {
   outline: none;
}

.impact-range::-webkit-slider-runnable-track {
   width        : 100%;
   height       : 4px;
   cursor       : pointer;
   animate      : 0.2s;
   box-shadow   : 0px 0px 0px #000000;
   background   : #AEC8D8;
   border-radius: 25px;
   border       : 1px solid #8A8A8A;
}

.impact-range::-webkit-slider-thumb {
   box-shadow        : 1px 1px 1px #828282;
   border            : 1px solid #8A8A8A;
   height            : 10px;
   width             : 14px;
   border-radius     : 2px;
   background        : #66757F;
   cursor            : pointer;
   -webkit-appearance: none;
   margin-top        : -4px;
}

.impact-range:focus::-webkit-slider-runnable-track {
   background: #AEC8D8;
}

.impact-range::-moz-range-track {
   width        : 100%;
   height       : 4px;
   cursor       : pointer;
   animate      : 0.2s;
   box-shadow   : 0px 0px 0px #000000;
   background   : #AEC8D8;
   border-radius: 25px;
   border       : 1px solid #8A8A8A;
}

.impact-range::-moz-range-thumb {
   box-shadow   : 1px 1px 1px #828282;
   border       : 1px solid #8A8A8A;
   height       : 10px;
   width        : 14px;
   border-radius: 2px;
   background   : #66757F;
   cursor       : pointer;
}

.impact-range::-ms-track {
   width       : 100%;
   height      : 4px;
   cursor      : pointer;
   animate     : 0.2s;
   background  : transparent;
   border-color: transparent;
   color       : transparent;
}

.impact-range::-ms-fill-lower {
   background   : #AEC8D8;
   border       : 1px solid #8A8A8A;
   border-radius: 50px;
   box-shadow   : 0px 0px 0px #000000;
}

.impact-range::-ms-fill-upper {
   background   : #AEC8D8;
   border       : 1px solid #8A8A8A;
   border-radius: 50px;
   box-shadow   : 0px 0px 0px #000000;
}

.impact-range::-ms-thumb {
   margin-top   : 1px;
   box-shadow   : 1px 1px 1px #828282;
   border       : 1px solid #8A8A8A;
   height       : 10px;
   width        : 14px;
   border-radius: 2px;
   background   : #66757F;
   cursor       : pointer;
}

.impact-range:focus::-ms-fill-lower {
   background: #AEC8D8;
}

.impact-range:focus::-ms-fill-upper {
   background: #AEC8D8;
}
