{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set no_header = true %}
{% extends 'generic_show_form.html.twig' %}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

{% block form_fields %}
    {% block more_fields %}
        {{ inputs.hidden(rule.getRuleIdField, item.fields[rules_id_field]) }}
        {% set action_dropdown %}
            <div class="d-flex">
                {% do call([rule, 'dropdownActions'], [{
                    value: item.fields['field'],
                    used: used_actions,
                    rand: rand
                }]) %}
                <span id="action_span" class="d-flex"></span>
            </div>
        {% endset %}
        {{ fields.htmlField('', action_dropdown, get_class(item)|itemtype_name, {
            full_width: true,
        }) }}
        {% do call(['Ajax', 'updateItemOnSelectEvent'], [
            'dropdown_field' ~ rand,
            'action_span',
            config('root_doc') ~ '/ajax/ruleaction.php',
            {
                field: '__VALUE__',
                sub_type: get_class(rule),
                ruleactions_id: item.getID,
                (rule.getRuleIdField): item.fields[rules_id_field]
            }
        ]) %}
        {% if item.fields['field'] is defined and item.fields['field'] is not empty %}
            <script type="text/javascript">
                $(() => {
                    {% do call(['Ajax', 'updateItemJsCode'], [
                        'action_span',
                        config('root_doc') ~ '/ajax/ruleaction.php',
                        {
                            field: item.fields['field'],
                            action_type: item.fields['action_type'],
                            value: item.fields['value'],
                            sub_type: get_class(rule),
                            ruleactions_id: item.getID,
                            (rule.getRuleIdField): item.fields[rules_id_field]
                        }
                    ]) %}
                });
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
