{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<div class="alert alert-info">
   {% if collection.stop_on_first_match %}
      <span>{{ __('The engine will stop after the first matched rule.') }}</span>
   {% else %}
      <span>{{ __('The engine will run all matching rules.') }}</span>
   {% endif %}
   <br>
   {% if collection.use_output_rule_process_as_next_input %}
      <span>{{ __('The engine passes the result of each rule to the next matching rule.') }}</span>
      <br>
   {% endif %}
   {% if collection.isRuleUseConditions %}
      <span>{{ __('The rules are conditional based on a type of action.') }}</span>
   {% endif %}
</div>
