# Set your own GLPI url
# GLPI_BASE_URL="http://localhost:80"

# Set your PHP executable (needed if you use docker)
# PHP="php"

# Disable automatically opening reports on failure
# PW_TEST_HTML_REPORT_OPEN='never'
