<a class="btn btn-icon btn-sm btn-ghost-secondary float-end mt-1 ms-1"
     title="{{ __("Associate myself") }}"
     data-bs-toggle="tooltip" data-bs-placement="top"
     href="{{ path('front/ticket.form.php?addme_as_actor&actortype=' ~ actortype ~ '&id=' ~ item.fields['id']) }}">
   <i class="fas fa-male"></i>
</a>
