<button type="submit"
        form="addme_as_{{ actortype }}_{{ main_rand }}"
        name="id"
        value="{{ item.fields['id'] }}"
        class="btn btn-icon btn-sm btn-ghost-secondary float-end mt-1 ms-1"
        title="{{ __('Associate myself') }}"
        data-bs-toggle="tooltip" data-bs-placement="top">
   <i class="fas fa-male"></i>
</button>
