/config/cache.php
/config/config_db*
/config/glpi.key
/config/glpicrypt.key
/config/local_define.php
/tests/config_db*
/tests/cache.php
/marketplace/*
!/marketplace/.gitkeep
/plugins/*
!/plugins/.gitkeep
/files/*/*
!/files/*/.gitkeep
/.buildpath
/.project
/.settings/
/.vscode/
/.idea/
/tools/composer.lock
/tools/vendor/
/tools/api/
/tools/htmlcov/
/vendor/*
!/vendor/.htaccess
phpunit.xml
/tests/code-coverage/
/tests/coverage-*/
/tests/files/
/tests/.env
/tests/glpicrypt.key
/config/based_config.php
/config/config.php
/config/define.php
/nbproject
.composer.hash
/**/*.min.css
/css_compiled/
/css/compiled/
/css/lib/
/**/*.min.js
/node_modules/
.package.hash
/public/build/
/public/lib/
/tests/web/error.log
/inventory-vendors/*.json
/locales/*.mo
/inc/downstream.php
/docker-compose.override.yaml
/.devcontainer/docker-compose.override.yaml
phpstan.neon
/.phpunit.result.cache
/phpunit/files/
/phpunit/config
