/config/config_db*
/config/config_path.php
/tests/config_db*
/plugins/
/files/
/.buildpath
/.project
/.settings/
/.vscode/
/tools/composer.lock
/tools/vendor/
/tools/api/
/vendor/
/nbproject/private/
phpunit.xml
