/config/cache.php
/config/config_db*
/config/glpi.key
/config/glpicrypt.key
/config/local_define.php
/tests/config_db*
/tests/cache.php
/marketplace/
/plugins/
/files/
/.buildpath
/.project
/.settings/
/.vscode/
/.idea/
/tools/composer.lock
/tools/vendor/
/tools/api/
/tools/htmlcov/
/vendor/
phpunit.xml
/tests/code-coverage/
/tests/coverage-*/
/tests/files/
/tests/glpicrypt.key
/config/based_config.php
/config/config.php
/config/define.php
/nbproject
.composer.hash
/**/*.min.css
/css_compiled/
/css/compiled/
/**/*.min.js
/node_modules/
.package.hash
/public/build/
/public/lib/
/tests/web/error.log
/inventory-vendors/*.json
/locales/*.mo
