# If you have problem with session.auto_start on install you need to set this value to 0 on php.ini or uncomment this line
#php_value session.auto_start 0


# The following lines enable the apache rewriting for the api. You can use url like http://glpi/api/.
#<IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteRule api/(.*)$ apirest.php/$1
#</IfModule>


# You can uncomment following lines to enable caching of web assets (pictures, javascript files, etc)
#<IfModule mod_expires.c>
#   ExpiresActive On
#   ExpiresByType image/jpg "access 1 year"
#   ExpiresByType image/jpeg "access 1 year"
#   ExpiresByType image/gif "access 1 year"
#   ExpiresByType image/png "access 1 year"
#   ExpiresByType text/css "access 1 year"
#   ExpiresByType text/x-javascript "access 1 year"
#   ExpiresByType text/javascript "access 1 year"
#   ExpiresByType application/javascript "access 1 year"
#</IfModule>