# If you have problem with session.auto_start on install you need to set this value to 0 on php.ini or uncomment this line
#php_value session.auto_start 0

<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule (.*)$ api.php/$1
</IfModule>