{
    "extends": "stylelint-config-recommended",
    "rules": {
        "indentation": 3,

        "no-descending-specificity": null,
        "no-duplicate-selectors": null,

        "font-family-no-missing-generic-family-keyword": [
            true,
            {
                "severity": "warning"
            }
        ]
    }
}
