parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 1
    bootstrapFiles:
        - stubs/glpi_constants.php
    paths:
        - ajax
        - front
        - inc
        - install
        - src
    ignoreErrors:
        - '/Instantiated class (DB|DBSlave) not found/'
        - '/Instantiated class XHProfRuns_Default not found/'
        - { message: '/Variable \$this might not be defined/', paths: [ 'inc/includes.php' ] }
        - { message: '/Call to protected method setAjax\(\) of class Glpi\\Controller\\LegacyFileLoadController./', paths: [ 'inc/includes.php', 'front/', 'ajax/' ] }

rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule

# Copy and uncomment this content into a "phpstan.neon" file to add your own config values
#
## Mandatory include:
#
#includes:
#    - phpstan.neon.dist
#
## Custom config values
## Example: using more process that the default configuration
#
#parameters:
#   parallel:
#       maximumNumberOfProcesses: 8
