# Copy this file as phpstan.neon to run your own config

includes:
    - phpstan.neon.dist

# Enter your own configs here:
# Example: using more process that the default configuration
parameters:
    parallel:
        maximumNumberOfProcesses: 8

