parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 1
    bootstrapFiles:
        - inc/based_config.php
    paths:
        - src
    scanDirectories:
        - inc
    stubFiles:
        - stubs/glpi_constants.php
    ignoreErrors:
        - '/Instantiated class (DB|DBSlave) not found/'
        - '/Instantiated class XHProfRuns_Default not found/'
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule
