parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 2
    bootstrapFiles:
        - inc/based_config.php
    paths:
        - ajax
        - front
        - inc
        - install
        - src
    stubFiles:
        - stubs/glpi_constants.php
    ignoreErrors:
        - '/Access to an undefined property CommonDBTM::\$orderby\./'
        - '/Access to an undefined property CommonGLPI::\$enabled_inventory\./'
        - '/Access to an undefined property CommonGLPI::\$fields\./'
        - '/Access to an undefined property Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::\$fields\./'
        - '/Access to an undefined property Glpi\\Inventory\\Conf::\$enabled_inventory\./'
        - '/Access to an undefined property Laminas\\Mail\\Storage\\Message::\$date\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$DESCRIPTION\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$DTEND\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$DTSTAMP\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$DTSTART\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$DUE\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$LAST-MODIFIED\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$PERCENT-COMPLETE\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$RRULE\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$STATUS\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$SUMMARY\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$UID\./'
        - '/Access to an undefined property Sabre\\VObject\\Component::\$URL\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VCalendar::\$PRODID\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VJournal\|Sabre\\VObject\\Component\\VTodo::\$CREATED\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VJournal\|Sabre\\VObject\\Component\\VTodo::\$SUMMARY\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VTodo::\$DESCRIPTION\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VTodo::\$DTEND\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VTodo::\$DTSTART\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VTodo::\$DUE\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VTodo::\$RRULE\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VEvent\|Sabre\\VObject\\Component\\VTodo::\$SUMMARY\./'
        - '/Access to an undefined property Sabre\\VObject\\Component\\VTodo::\$DUE\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$CREATED\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$DESCRIPTION\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$DTEND\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$DTSTAMP\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$DTSTART\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$DUE\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$LAST-MODIFIED\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$RRULE\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$STATUS\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$SUMMARY\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$UID\./'
        - '/Access to an undefined property Sabre\\VObject\\Node::\$URL\./'
        - '/Access to an undefined property object::\$display\./'
        - '/Access to an undefined property object::\$filesize\./'
        - '/Access to an undefined property object::\$index\./'
        - '/Access to an undefined property object::\$instantiation_type\./'
        - '/Access to an undefined property object::\$name\./'
        - '/Access to an undefined property object::\$prefix\./'
        - '/Access to property \$connected on an unknown class DBSlave\./'
        - '/Access to property \$connected on an unknown class DB\./'
        - '/Binary operation "-" between /'
        - '/Binary operation "\*" between /'
        - '/Binary operation "\+" between /'
        - '/Binary operation "\." between /'
        - '/Binary operation "\.=" between /'
        - '/Binary operation "\/" between /'
        - '/Call to an undefined method CommonDBTM::addDevices\(\)\./'
        - '/Call to an undefined method CommonDBTM::addSpecificParamsForPreview\(\)\./'
        - '/Call to an undefined method CommonDBTM::canAssign\(\)\./'
        - '/Call to an undefined method CommonDBTM::cleanDBOnItemDelete\(\)\./'
        - '/Call to an undefined method CommonDBTM::cloneMultiple\(\)\./'
        - '/Call to an undefined method CommonDBTM::clone\(\)\./'
        - '/Call to an undefined method CommonDBTM::countGroups\(\)\./'
        - '/Call to an undefined method CommonDBTM::countSuppliers\(\)\./'
        - '/Call to an undefined method CommonDBTM::countUsers\(\)\./'
        - '/Call to an undefined method CommonDBTM::createInstanceClone\(\)\./'
        - '/Call to an undefined method CommonDBTM::displayActionSelectPattern\(\)\./'
        - '/Call to an undefined method CommonDBTM::displayAdditionalRuleAction\(\)\./'
        - '/Call to an undefined method CommonDBTM::displayCriteriaSelectPattern\(\)\./'
        - '/Call to an undefined method CommonDBTM::dropdownActions\(\)\./'
        - '/Call to an undefined method CommonDBTM::dropdownConditions\(\)\./'
        - '/Call to an undefined method CommonDBTM::dropdownCriteria\(\)\./'
        - '/Call to an undefined method CommonDBTM::getActionTime\(\)\./'
        - '/Call to an undefined method CommonDBTM::getAction\(\)\./'
        - '/Call to an undefined method CommonDBTM::getAdditionalField\(\)\./'
        - '/Call to an undefined method CommonDBTM::getAllActions\(\)\./'
        - '/Call to an undefined method CommonDBTM::getAllCriteria\(\)\./'
        - '/Call to an undefined method CommonDBTM::getAssignName\(\)\./'
        - '/Call to an undefined method CommonDBTM::getAssociatedDocumentsCriteria\(\)\./'
        - '/Call to an undefined method CommonDBTM::getClosedStatusArray\(\)\./'
        - '/Call to an undefined method CommonDBTM::getCriteriaDisplayPattern\(\)\./'
        - '/Call to an undefined method CommonDBTM::getCriteriaName\(\)\./'
        - '/Call to an undefined method CommonDBTM::getCriteria\(\)\./'
        - '/Call to an undefined method CommonDBTM::getFromDBbyName\(\)\./'
        - '/Call to an undefined method CommonDBTM::getGroups\(\)\./'
        - '/Call to an undefined method CommonDBTM::getImpactName\(\)\./'
        - '/Call to an undefined method CommonDBTM::getLinks\(\)\./'
        - '/Call to an undefined method CommonDBTM::getMinimalActionText\(\)\./'
        - '/Call to an undefined method CommonDBTM::getMinimalCriteriaText\(\)\./'
        - '/Call to an undefined method CommonDBTM::getPriorityName\(\)\./'
        - '/Call to an undefined method CommonDBTM::getRuleActionClass\(\)\./'
        - '/Call to an undefined method CommonDBTM::getRuleActions\(\)\./'
        - '/Call to an undefined method CommonDBTM::getRuleCriterias\(\)\./'
        - '/Call to an undefined method CommonDBTM::getRuleIdField\(\)\./'
        - '/Call to an undefined method CommonDBTM::getRuleWithCriteriasAndActions\(\)\./'
        - '/Call to an undefined method CommonDBTM::getSolvedStatusArray\(\)\./'
        - '/Call to an undefined method CommonDBTM::getStatus\(\)\./'
        - '/Call to an undefined method CommonDBTM::getSuppliers\(\)\./'
        - '/Call to an undefined method CommonDBTM::getTimelineItems\(\)\./'
        - '/Call to an undefined method CommonDBTM::getTypes\(\)\./'
        - '/Call to an undefined method CommonDBTM::getUrgencyName\(\)\./'
        - '/Call to an undefined method CommonDBTM::getUsers\(\)\./'
        - '/Call to an undefined method CommonDBTM::importExternal\(\)\./'
        - '/Call to an undefined method CommonDBTM::import\(\)\./'
        - '/Call to an undefined method CommonDBTM::isRackPart\(\)\./'
        - '/Call to an undefined method CommonDBTM::prepareAllInputDataForProcess\(\)\./'
        - '/Call to an undefined method CommonDBTM::recursivelyGetItems\(\)\./'
        - '/Call to an undefined method CommonDBTM::sendById\(\)\./'
        - '/Call to an undefined method CommonDBTM::showRulePreviewCriteriasForm\(\)\./'
        - '/Call to an undefined method CommonDBTM::showRulePreviewResultsForm\(\)\./'
        - '/Call to an undefined method CommonGLPI::canEdit\(\)\./'
        - '/Call to an undefined method CommonGLPI::canUpdateItem\(\)\./'
        - '/Call to an undefined method CommonGLPI::check\(\)\./'
        - '/Call to an undefined method CommonGLPI::countVisibilities\(\)\./'
        - '/Call to an undefined method CommonGLPI::getEntityID\(\)\./'
        - '/Call to an undefined method CommonGLPI::getField\(\)\./'
        - '/Call to an undefined method CommonGLPI::getForeignKeyField\(\)\./'
        - '/Call to an undefined method CommonGLPI::getID\(\)\./'
        - '/Call to an undefined method CommonGLPI::getIndexName\(\)\./'
        - '/Call to an undefined method CommonGLPI::getLinkedItems\(\)\./'
        - '/Call to an undefined method CommonGLPI::getName\(\)\./'
        - '/Call to an undefined method CommonGLPI::isDynamic\(\)\./'
        - '/Call to an undefined method CommonGLPI::maySolve\(\)\./'
        - '/Call to an undefined method CommonGLPI::showBrowseView\(\)\./'
        - '/Call to an undefined method CommonGLPI::showChildren\(\)\./'
        - '/Call to an undefined method CommonGLPI::showFormGlobal\(\)\./'
        - '/Call to an undefined method CommonGLPI::showFormPerso\(\)\./'
        - '/Call to an undefined method CommonGLPI::showForm\(\)\./'
        - '/Call to an undefined method CommonGLPI::showFull\(\)\./'
        - '/Call to an undefined method CommonGLPI::showGetMessageForm\(\)\./'
        - '/Call to an undefined method CommonGLPI::showInfocoms\(\)\./'
        - '/Call to an undefined method CommonGLPI::showItems\(\)\./'
        - '/Call to an undefined method CommonGLPI::showLDAPForm\(\)\./'
        - '/Call to an undefined method CommonGLPI::showListSimple\(\)\./'
        - '/Call to an undefined method CommonGLPI::showManageView\(\)\./'
        - '/Call to an undefined method CommonGLPI::showSearchView\(\)\./'
        - '/Call to an undefined method CommonGLPI::showVisibility\(\)\./'
        - '/Call to an undefined method Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::add\(\)\./'
        - '/Call to an undefined method Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::can\(\)\./'
        - '/Call to an undefined method Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::delete\(\)\./'
        - '/Call to an undefined method Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::getType\(\)\./'
        - '/Call to an undefined method Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::isField\(\)\./'
        - '/Call to an undefined method Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::isNewItem\(\)\./'
        - '/Call to an undefined method Glpi\\CalDAV\\Contracts\\CalDAVCompatibleItemInterface::update\(\)\./'
        - '/Call to an undefined method Glpi\\Mail\\SMTP\\OauthProvider\\ProviderInterface::getState\(\)\./'
        - '/Call to an undefined method HTMLTableHeader::getCompositeName\(\)\./'
        - '/Call to an undefined method Laminas\\I18n\\Translator\\TranslatorInterface::addTranslationFile\(\)\./'
        - '/Call to an undefined method Laminas\\I18n\\Translator\\TranslatorInterface::getAllMessages\(\)\./'
        - '/Call to an undefined method Laminas\\Mail\\Storage\\AbstractStorage::getFolders\(\)\./'
        - '/Call to an undefined method Laminas\\Mail\\Storage\\AbstractStorage::moveMessage\(\)\./'
        - '/Call to an undefined method LevelAgreementLevel::showForParent\(\)\./'
        - '/Call to an undefined method ReservationItem::backToStock\(\)\./'
        - '/Call to an undefined method Sabre\\VObject\\Document::getBaseComponent\(\)\./'
        - '/Call to an undefined method Sabre\\VObject\\Node::add\(\)\./'
        - '/Call to an undefined method object::getName\(\)\./'
        - '/Call to an undefined static method CommonDBTM::showBrowseView\(\)\./'
        - '/Call to an undefined static method CommonDBVisible::getVisibilityCriteria\(\)\./'
        - '/Call to an undefined static method CommonGLPI::getFieldNames\(\)\./'
        - '/Call to method add\(\) on an unknown class RRule\\DateTimeInterface\./'
        - '/Call to method escape\(\) on an unknown class DB\./'
        - '/Call to method format\(\) on an unknown class RRule\\DateTimeInterface\./'
        - '/Call to method request\(\) on an unknown class DBSlave\./'
        - '/Call to method save_run\(\) on an unknown class XHProfRuns_Default\./'
        - '/Call to method update\(\) on an unknown class DB\./'
        - '/Cannot access property \$first_connection on null\./'
        - '/Cannot access property \$grouplinkclass on CommonDBTM\|false\./'
        - '/Cannot access property \$userlinkclass on CommonDBTM\|false\./'
        - '/Cannot access static property \$rightname on \(int\|string\)\./'
        - '/Cannot call method canSolve\(\) on CommonDBTM\|false\./'
        - '/Cannot call method getAdditionalField\(\) on CommonDBTM\|false\./'
        - '/Cannot call method getAddressList\(\) on array\|ArrayIterator\|Laminas\\Mail\\Header\\HeaderInterface\|string\./'
        - '/Cannot call method getAlreadyUsedForRuleID\(\) on CommonDBTM\|false\./'
        - '/Cannot call method getClosedStatusArray\(\) on CommonDBTM\|false\./'
        - '/Cannot call method getID\(\) on object\|false\./'
        - '/Cannot call method getLinkURL\(\) on bool\./'
        - '/Cannot call method getLink\(\) on true\./'
        - '/Cannot call method getSolvedStatusArray\(\) on CommonDBTM\|false\./'
        - '/Cannot call method getTableGroup\(\) on CommonDBTM\|false\./'
        - '/Cannot call method getTime\(\) on int\./'
        - '/Cannot call method getType\(\) on object\|false\./'
        - '/Cannot call method isRackPart\(\) on CommonDBTM\|false\./'
        - '/Cannot call method maxActionsCount\(\) on CommonDBTM\|false\./'
        - '/Cannot call method moveRule\(\) on CommonDBTM\|false\./'
        - '/Cannot call static method canUpdate\(\) on \(int\|string\)\./'
        - '/Cannot call static method getTable\(\) on \(int\|string\)\./'
        - '/Cannot call static method getTypeName\(\) on TKey of int\|string\./'
        - '/Cannot call static method getTypeName\(\) on \(int\|string\)\./'
        - '/Cannot call static method showSubForm\(\) on CommonDBTM\|false\./'
        - '/Comparison operation ">" between \(array\|float\|int\) and \(float\|int\) results in an error\./'
        - '/Method AuthLDAP::connectToServer\(\) has invalid return type LDAP\\Connection\./'
        - '/Result of method DbUtils::closeDBConnections\(\) \(void\) is used\./'
        - '/Result of method DbUtils::regenerateTreeCompleteName\(\) \(void\) is used\./'
        - '/Result of method Glpi\\Dashboard\\Grid::embed\(\) \(void\) is used\./'
        - '/Result of method Migration::renameTable\(\) \(void\) is used\./'
        - '/Result of method mysqli_result::free\(\) \(void\) is used\./'
        - '/Static call to instance method stdClass::displayPlanningItem\(\)\./'
        - '/Static call to instance method stdClass::getDcBreadcrumbSpecificValueToDisplay\(\)\./'
        - '/Static call to instance method stdClass::getIcon\(\)\./'
        - '/Static call to instance method stdClass::populateNotPlanned\(\)\./'
        - '/Static call to instance method stdClass::rawSearchOptionsToAdd\(\)\./'
        - '/Static call to instance method stdClass::showCentralCount\(\)\./'
        - '/Static call to instance method stdClass::showCentralList\(\)\./'
        - '/Unary operation "~" on mixed results in an error\./'
        - '/Unsafe access to private property Glpi\\Application\\View\\Extension\\DocumentExtension::\$extensionIcon through static::\./'
        - '/Variable \$condition in empty\(\) is never defined\./'
        - '/Variable \$criteria in empty\(\) is never defined\./'
        - '/Call to static method \w+\(\) on an unknown class phpCAS/'
        - '/Class phpCAS not found/'
        - '/Instantiated class (DB|DBSlave) not found/'
        - '/Instantiated class XHProfRuns_Default not found/'
        - '/\w+ has been replaced by \w+/'
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule
