includes:
    - vendor/glpi-project/phpstan-glpi/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - .phpstan-baseline.php

parameters:
    level: 5
    bootstrapFiles:
        - stubs/db_config_classes.php
        - stubs/glpi_constants.php
    paths:
        - ajax
        - front
        - inc
        - install
        - src
    tmpDir: files/_cache/phpstan
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - Sabre\VObject\Node
    dynamicConstantNames:
        - GLPI_AJAX_DASHBOARD
        - GLPI_ALLOW_IFRAME_IN_RICH_TEXT
        - GLPI_CACHE_DIR
        - GLPI_CALDAV_IMPORT_STATE
        - GLPI_CENTRAL_WARNINGS
        - GLPI_CONFIG_DIR
        - GLPI_CRON_DIR
        - GLPI_DISABLE_ONLY_FULL_GROUP_BY_SQL_MODE
        - GLPI_DISALLOWED_UPLOADS_PATTERN
        - GLPI_DOC_DIR
        - GLPI_DOCUMENTATION_ROOT_URL
        - GLPI_ENVIRONMENT_TYPE
        - GLPI_FORCE_MAIL
        - GLPI_GRAPH_DIR
        - GLPI_INSTALL_MODE
        - GLPI_INVENTORY_DIR
        - GLPI_LOCAL_I18N_DIR
        - GLPI_LOCK_DIR
        - GLPI_LOG_DIR
        - GLPI_LOG_LVL
        - GLPI_MARKETPLACE_ALLOW_OVERRIDE
        - GLPI_MARKETPLACE_DIR
        - GLPI_MARKETPLACE_ENABLE
        - GLPI_MARKETPLACE_MANUAL_DOWNLOADS
        - GLPI_MARKETPLACE_PLUGINS_API_URI
        - GLPI_MARKETPLACE_PRERELEASES
        - GLPI_NETWORK_REGISTRATION_API_URL
        - GLPI_NETWORK_MAIL
        - GLPI_NETWORK_SERVICES
        - GLPI_PICTURE_DIR
        - GLPI_PLUGIN_DOC_DIR
        - GLPI_PLUGINS_DIRECTORIES
        - GLPI_RSS_DIR
        - GLPI_SERVERSIDE_URL_ALLOWLIST
        - GLPI_SESSION_DIR
        - GLPI_SKIP_UPDATES
        - GLPI_STRICT_ENV
        - GLPI_SYSTEM_CRON
        - GLPI_TELEMETRY_URI
        - GLPI_TEXT_MAXSIZE
        - GLPI_THEMES_DIR
        - GLPI_TMP_DIR
        - GLPI_UPLOAD_DIR
        - GLPI_USE_CSRF_CHECK
        - GLPI_USER_AGENT_EXTRA_COMMENTS
        - GLPI_VAR_DIR
        - GLPI_WEBHOOK_ALLOW_RESPONSE_SAVING
        - GLPI_WEBHOOK_CRA_MANDATORY
        - GLPI_ALTCHA_MODE
        - GLPI_ALTCHA_MAX_NUMBER
        - GLPI_ALTCHA_EXPIRATION_INTERVAL
        - TU_USER
    ignoreErrors:
        -
            message: '~LDAP\\Connection~'
            reportUnmatched: false
        -
            message: '~/(xhprof_runs\.php|xhprof_lib\.php|downstream\.php|local_define\.php|config_db\.php|config_db_slave\.php)" is not a file or it does not exist.~'
            reportUnmatched: false
        -
            identifier: 'missingType.iterableValue'
            reportUnmatched: false

# Copy and uncomment this content into a "phpstan.neon" file to add your own config values
#
## Mandatory include:
#
#includes:
#    - phpstan.neon.dist
#
## Custom config values
## Example: using more process that the default configuration
#
#parameters:
#   parallel:
#       maximumNumberOfProcesses: 8
