includes:
    - .phpstan-baseline.php
    - .phpstan-baseline.8.2.php

parameters:
    level: 4
    bootstrapFiles:
        - inc/based_config.php
    paths:
        - ajax
        - front
        - inc
        - install
        - src
    universalObjectCratesClasses:
        - Sabre\VObject\Node
    dynamicConstantNames:
        - GLPI_AJAX_DASHBOARD
        - GLPI_ALLOW_IFRAME_IN_RICH_TEXT
        - GLPI_CACHE_DIR
        - GLPI_CALDAV_IMPORT_STATE
        - GLPI_CENTRAL_WARNINGS
        - GLPI_CONFIG_DIR
        - GLPI_CRON_DIR
        - GLPI_CSRF_EXPIRES
        - GLPI_CSRF_MAX_TOKENS
        - GLPI_DEMO_MODE
        - GLPI_DISABLE_ONLY_FULL_GROUP_BY_SQL_MODE
        - GLPI_DOC_DIR
        - GLPI_DUMP_DIR
        - GLPI_FORCE_MAIL
        - GLPI_GRAPH_DIR
        - GLPI_IDOR_EXPIRES
        - GLPI_INSTALL_MODE
        - GLPI_INVENTORY_DIR
        - GLPI_LOCAL_I18N_DIR
        - GLPI_LOCK_DIR
        - GLPI_LOG_DIR
        - GLPI_LOG_LVL
        - GLPI_MARKETPLACE_ALLOW_OVERRIDE
        - GLPI_MARKETPLACE_DIR
        - GLPI_MARKETPLACE_ENABLE
        - GLPI_MARKETPLACE_MANUAL_DOWNLOADS
        - GLPI_MARKETPLACE_PLUGINS_API_URI
        - GLPI_MARKETPLACE_PRERELEASES
        - GLPI_NETWORK_REGISTRATION_API_URL
        - GLPI_NETWORK_MAIL
        - GLPI_NETWORK_SERVICES
        - GLPI_PICTURE_DIR
        - GLPI_PLUGIN_DOC_DIR
        - GLPI_RSS_DIR
        - GLPI_SERVERSIDE_URL_ALLOWLIST
        - GLPI_SESSION_DIR
        - GLPI_SQL_DEBUG
        - GLPI_STRICT_DEPRECATED
        - GLPI_TELEMETRY_URI
        - GLPI_TEXT_MAXSIZE
        - GLPI_TMP_DIR
        - GLPI_UPLOAD_DIR
        - GLPI_USE_CSRF_CHECK
        - GLPI_USE_IDOR_CHECK
        - GLPI_USER_AGENT_EXTRA_COMMENTS
        - GLPI_VAR_DIR
        - PLUGINS_DIRECTORIES
        - TU_USER
    ignoreErrors:
        - '/Call to static method \w+\(\) on an unknown class phpCAS/'
        - '/Class phpCAS not found/'
        - '/Instantiated class (DB|DBSlave) not found/'
        - '/Instantiated class XHProfRuns_Default not found/'
        - '/\w+ has been replaced by \w+/'
        -
            message: '/LDAP\\Connection/'
            reportUnmatched: false
        -
            message: '/\/config\/config_db.php" is not a file or it does not exist./'
            reportUnmatched: false
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule
