<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="phpunit/bootstrap.php"
    colors="true"
>
  <testsuites>
    <testsuite name="Unit">
       <directory>phpunit/functional/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="512M" />
  </php>
</phpunit>

