<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
		 backupGlobals="false"
		 colors="true">
    <testsuites>
        <testsuite name="GLPI">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./inc</directory>
            <directory>./config</directory>
        </whitelist>
    </filter>
    <php>
        <const name="GLPI_CONFIG_DIR" value="./tests" />
        <const name="GLPI_LOG_DIR"    value="./tests/files/_log" />
        <const name="GLPI_URI"        value="http://localhost:8088" />
    </php>
</phpunit>
