/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2025 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

:root {
    --tblr-light: #fafbfc;
    --tblr-dark: #101923;
    --tblr-primary-rgb: 254, 201, 92;
    --tblr-primary: rgb(var(--tblr-primary-rgb));
    --tblr-primary-fg: #1e293b;
    --tblr-primary-darken: color-mix(in srgb, var(--tblr-primary), black 10%);
    --tblr-secondary: #606f91;
    --tblr-secondary-fg: var(--tblr-body-bg);
    --tblr-tertiary: #8a97ab;
    --tblr-muted: var(--tblr-secondary);
    --tblr-muted-darken: color-mix(in srgb, var(--tblr-muted), black 10%);
    --tblr-info: #80abe4;
    --tblr-link-color-rgb: 58, 86, 147;
    --tblr-link-color: rgb(var(--tblr-link-color-rgb));
    --tblr-badge-bg: var(--tblr-secondary);
    --tblr-badge-color: var(--tblr-secondary-fg);
    --tblr-navbar-color: #2f3f64;
    --tblr-body-bg: #f5f7fb;
    --tblr-bg-surface: #fff;
    --tblr-bg-surface-secondary: var(--tblr-light);
    --tblr-bg-surface-tertiary: var(--tblr-gray-50);
    --tblr-bg-surface-dark: color-mix(in srgb, var(--tblr-bg-surface), var(--tblr-dark) 1.5%);
    --tblr-box-shadow-input: none;
    --tblr-spacer: var(--tblr-spacer-3);
    --glpi-tabs-bg: color-mix(in srgb, var(--tblr-bg-surface), black 1.5%);
    --glpi-tabs-fg: var(--tblr-muted);
    --glpi-tabs-border-color: var(--tblr-border-color);
    --glpi-tabs-active-bg: var(--tblr-bg-surface);
    --glpi-tabs-active-fg: var(--tblr-body-color);
    --glpi-tabs-active-border-color: var(--glpi-tabs-border-color);
    --glpi-logo-light: url("../pics/logos/logo-GLPI-100-white.png");
    --glpi-logo-light-reduced: url("../pics/logos/logo-G-100-white.png");
    --glpi-logo-dark: url("../pics/logos/logo-GLPI-100-black.png");
    --glpi-logo-dark-reduced: url("../pics/logos/logo-G-100-black.png");
    --glpi-logo-dark-login: url("../pics/logos/logo-GLPI-250-black.png");
    --glpi-logo-light-login: url("../pics/logos/logo-GLPI-250-white.png");
    --glpi-logo: var(--glpi-logo-light);
    --glpi-logo-reduced: var(--glpi-logo-light-reduced);
    --glpi-mainmenu-bg: #2f3f64; // hsl(222, 36%, 29%)
    --glpi-mainmenu-fg: #f4f6fa;
    --glpi-mainmenu-fg-muted: #f4f6fa99;
    --glpi-mainmenu-active-bg: color-mix(in srgb, var(--glpi-mainmenu-bg), white 45%);
    --glpi-search-bg: color-mix(in srgb, var(--glpi-mainmenu-bg), transparent 95%);
    --glpi-search-fg: color-mix(in srgb, var(--glpi-mainmenu-fg), white 5%);
    --glpi-search-border-color: color-mix(in srgb, var(--glpi-search-fg), white 65%);
    --glpi-fg-secondary: #f4f6fa;
    --glpi-badge-bg: color-mix(in srgb, var(--tblr-link-color), var(--tblr-light) 91%);
    --glpi-badge-fg: var(--tblr-link-color);
    --glpi-form-header-fg: #055cad;
    --glpi-form-header-bg: color-mix(in srgb, var(--glpi-form-header-fg), var(--tblr-bg-surface) 90%);
    --glpi-form-header-border-color: color-mix(in srgb, var(--glpi-form-header-fg), var(--tblr-bg-surface) 75%);
    --glpi-form-header-danger-fg: var(--tblr-danger);
    --glpi-form-header-danger-bg: color-mix(in srgb, var(--glpi-form-header-danger-fg), var(--tblr-bg-surface) 90%);
    --glpi-form-header-danger-border-color: color-mix(in srgb, var(--glpi-form-header-danger-fg), var(--tblr-bg-surface) 75%);
    --glpi-topbar-height: 79px;
    --glpi-contextbar-height: 56px;
    --glpi-content-margin: 24px;
    --glpi-scrollbar-thumb-color: color-mix(in srgb, var(--tblr-secondary), transparent 20%);
    --glpi-scrollbar-track-color: transparent;
    --glpi-itil-secondary-bg: #f5f5f5;
    --glpi-timeline-itil-content-bg: #e2f2e3;
    --glpi-timeline-itil-content-fg: #155210;
    --glpi-timeline-itil-content-border-color: #87aa8a;
    --glpi-timeline-fup-bg: #ececec;
    --glpi-timeline-fup-fg: #535353;
    --glpi-timeline-fup-border-color: #b3b3b3;
    --glpi-timeline-task-bg: #ffe8b9;
    --glpi-timeline-task-fg: #38301f;
    --glpi-timeline-task-border-color: #e5c88c;
    --glpi-timeline-solution-bg: #9fd6ed;
    --glpi-timeline-solution-fg: #27363b;
    --glpi-timeline-solution-border-color: #90c2d8;
    --glpi-timeline-document-bg: #80cead;
    --glpi-timeline-document-fg: #21352c;
    --glpi-timeline-document-border-color: #68b997;
    --glpi-timeline-log-bg: #cacaca21;
    --glpi-timeline-badge-bg: rgb(97, 97, 97, 15%);
    --glpi-timeline-badge-fg: rgb(43, 43, 43, 80%);
    --glpi-hover-bg: rgb(var(--tblr-secondary-rgb), .08);
    --animate-duration: 0.3s !important; // No prefix because it is overrides animate.js default
    --glpi-zindex-dropdown: #{$zindex-dropdown};
    --glpi-zindex-sticky: #{$zindex-sticky};
    --glpi-zindex-fixed: #{$zindex-fixed};
    --glpi-zindex-offcanvas-backdrop: #{$zindex-offcanvas-backdrop};
    --glpi-zindex-offcanvas: #{$zindex-offcanvas};
    --glpi-zindex-modal-backdrop: #{$zindex-modal-backdrop};
    --glpi-zindex-modal: #{$zindex-modal};
    --glpi-zindex-popover: #{$zindex-popover};
    --glpi-zindex-tooltip: #{$zindex-tooltip};
    --glpi-zindex-toast: #{$zindex-toast};

    // helpdesk portal
    --glpi-helpdesk-header: hsl(from var(--glpi-mainmenu-bg) h s 80);
    --glpi-helpdesk-tiles-section-bg: #f6f8fb;
    --glpi-helpdesk-tabs-section-bg: #fff;

    // Variables for @glpi-project/illustrations
    --glpi-illustrations-background: white;
    --glpi-illustrations-header-dark: var(--glpi-mainmenu-bg);
    --glpi-illustrations-header-light: var(--glpi-helpdesk-header);
    --glpi-illustrations-primary: var(--tblr-primary);
    --glpi-illustrations-gradient-1: hsl(from var(--glpi-mainmenu-bg) h s 92);
    --glpi-illustrations-gradient-2: hsl(from var(--glpi-mainmenu-bg) h s 72);
    --glpi-illustrations-gradient-3: hsl(from var(--glpi-mainmenu-bg) h s 45);

    // Variables for Altcha
    // See: https://altcha.org/docs/v2/widget-customization/
    --altcha-color-base   : var(--tblr-bg-surface);
    --altcha-border-radius: var(--tblr-border-radius-lg);
    --altcha-color-border : var(--tblr-border-color-translucent);
    --altcha-color-text   : var(--tblr-dark);
}

// Push the altcha logo away from the checkbox label in order to make the label
// feel more connected to its left side checkbox rather than its right side logo.
.altcha-label {
    margin-right: 1rem !important;
}

@media(prefers-reduced-motion) {
    :root {
        --animate-duration: 0s !important; // No prefix because it is overrides animate.js default
    }
}

body.iframed,
body.in_modal {
    background-color: transparent;
    overflow-x: hidden;
}

.page {
    .glpi-logo {
        background: var(--glpi-logo) no-repeat;
        height: 55px;
        width: 100px;
    }

    .page-body {
        margin-bottom: 0;
    }

    .footer {
        font-size: 0.75rem;
        padding: 0.5em;
    }
}

.breadcrumb a {
    --tblr-breadcrumb-link-color: var(--tblr-muted);
}

.breadcrumb-alternate {
    a {
        &:hover {
            text-decoration: var(--tblr-link-hover-decoration);
        }
    }
}

.ti {
    font-size: 1.25em;
    text-align: left;

    &.fa-fw {
        width: 0.9em;
    }

    &.fa-xs {
        font-size: 0.85em;
    }

    &.fa-lg {
        font-size: 1.8em;
        line-height: 0.75em;
        vertical-align: -0.0667em;
    }

    &.fa-2x {
        font-size: 2.3em;
        vertical-align: bottom;
    }
}

.btn {
    .btn-group .select2-container ~ & {
        max-width: 25px;
    }

    a {
        color: inherit;
    }

    i.fas,
    i.fa-solid,
    i.far,
    i.fa-regular,
    i.fab,
    i.fa-brands,
    i.ti,
    .fa-stack {
        margin-inline-start: 0;

        & + * {
            margin-left: 0.25rem;
        }
    }

    &.btn-icon {
        i.fas,
        i.fa-solid,
        i.far,
        i.fa-regular,
        i.fab,
        i.fa-brands,
        i.ti {
            margin-right: 0;

            &:not(.ti) {
                line-height: 1.5em;
            }
        }

        &.btn-sm {
            .fa-stack {
                height: 1.65em;
                line-height: 1.2em;
                width: 1.8em;
                margin-top: -2px;
                font-size: 0.8em;

                @include media-breakpoint-down(sm) {
                    width: 1.4em;
                }
            }

            i.fas,
            i.fa-solid,
            i.far,
            i.fa-regular,
            i.fab,
            i.fa-brands {
                line-height: 1.2em;
            }
        }
    }

    &.btn-link {
        color: var(--tblr-link-color);
    }

    &.btn-sm {
        --tblr-btn-padding-y: 0.125rem;
        --tblr-btn-padding-x: 0.5rem;
    }
}

.btn-group {
    box-shadow: none;

    .btn, input.form-control {
        box-shadow: none;
    }
}

.status {
    --tblr-status-color: var(--tblr-secondary);

    background-color: color-mix(in srgb, var(--tblr-status-color), transparent 90%);
}

.toast-container {
    z-index: 999999;
    position: fixed;

    &.top-left {
        inset: 0 auto auto 0;
    }

    &.top-right {
        inset: 0 0 auto auto;
    }

    &.bottom-left {
        inset: auto auto 0 0;
    }

    &.bottom-right {
        inset: auto 0 0 auto;
    }
}

.img-overlay-wrapper {
    width: fit-content;
}

.page-anonymous {
    .glpi-logo {
        --logo: var(--glpi-logo-dark-login);

        content: var(--logo);
        width: 200px;
        height: 110px;
    }

    .main-content-card {
        .card-header:empty {
            display: none;
        }
    }
}

table {
    &.table thead th {
        font-size: 0.625rem;
    }

    tbody:not(:has(tr)) {
        display: none; // hide empty `tbody`
    }

    td.active,
    td.tab_bg_4 {
        background-color: var(--tblr-table-active-bg);
        color: var(--tblr-table-active-color);
    }

    &.deleted-results {
        & > :not(caption) > * > * {
            box-shadow: none; // override tabler for deleted results
        }
    }
}

.glpi-badge {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--glpi-badge-bg);
    color: var(--glpi-badge-fg) !important;
    padding: calc(0.25rem - 1px) 0.25rem;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 0.7rem;
}

.badge {
    background: var(--glpi-badge-bg);
    color: var(--glpi-badge-fg);
}

.entity_tree {
    width: 450px;
    max-width: 85vw;
    position: relative;

    table {
        width: 100%;
    }

    .fancytree-expander,
    .fancytree-icon {
        margin-top: 5px;
    }

    .fancytree-folder {
        .fancytree-title {
            font-weight: bold;
        }
    }

    .fancytree-title {
        .btn {
            min-width: unset;
            min-height: unset;
        }
    }

    .fancytree-selected {
        background-color: var(--tblr-primary);
    }
}

.qtip-bootstrap,
.popover .popover-body {
    background-color: var(--tblr-bg-surface);
    color: var(--tblr-dark);
}

.popover .popover-arrow::after {
    border-top-color: var(--tblr-bg-surface);
}

kbd {
    white-space: nowrap;
}

body,
body input {
    font-variant-ligatures: no-contextual;
}

/** Bootstrap visibility classes (The utility class behavior is different in _styles.scss) */
.bs-visible {
    visibility: visible !important;
}

.bs-invisible {
    visibility: hidden !important;
}

:-webkit-autofill {
    &, &:hover, &:focus, &:active {
        color: var(--tblr-body-color);
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-text-fill-color: var(--tblr-body-color);
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-background-clip: text !important;
        background-clip: text !important;
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-box-shadow: 0 0 0 30px var(--tblr-bg-forms) inset !important;
    }
}

body .dropdown-menu {
    --tblr-dropdown-divider-margin-y: calc(var(--tblr-spacer) * 0.5);
    --tblr-dropdown-item-padding-x: var(--tblr-spacer);
    --tblr-dropdown-item-padding-y: calc(var(--tblr-spacer) * 0.5);
}

body .toast {
    background: var(--tblr-bg-surface);
    color: var(--tblr-body-color);
}

.card {
    --tblr-card-cap-bg: color-mix(in srgb, var(--tblr-bg-surface), black 1.5%) !important;
}

.accordion {
    --tblr-accordion-color: var(--tblr-muted);
}

.monaco-editor {
    outline: none !important;
}

.tooltip {
    --tblr-tooltip-color: var(--tblr-body-bg); /* Text color */
    --tblr-tooltip-bg: var(--tblr-body-color); /* Background color */
}

body pre {
    background-color: var(--tblr-bg-surface);
    color: var(--tblr-body-color);
}

.col-12.glpi-full-width {
    .col-form-label {
        width: calc(-4px + 20.8333%);
    }

    .field-container {
        width: calc(-11px + 79.1666%);
    }
}

.modal-lg .col-12.glpi-full-width {
    .col-form-label {
        width: calc(-4px + 25.8333%);
    }

    .field-container {
        width: calc(-11px + 74.1666%);
    }
}

// Needed as 'text-muted' may not always be readable depending on the menu
// background color.
.horizontal-layout  {
    .text-muted-menu {
        color: var(--glpi-mainmenu-fg-muted) !important;
    }
}

.vertical-layout  {
    .text-muted-menu {
        color: var(--tblr-muted) !important;
    }
}

.remove-last-tinymce-margin {
    // Remove annoying margin from tinymce's last paragraph
    p:last-child {
        margin-bottom: 0;
    }
}

// Missing class from tabler, probably need to update it ?
.btn-check:checked+.btn {
    color           : var(--tblr-btn-hover-color) !important;
    background-color: var(--tblr-btn-active-bg) !important;
}

.w-fit-content {
    width: fit-content;
}

.accordion-button:hover, .accordion-button:focus {
    z-index: unset;
}

// The definition from tabler doesn't seem to take into account our primary color. Bug?
.border-primary {
    border-color: var(--tblr-primary) !important;
}

.nav {
    --tblr-nav-link-color: color-mix(in srgb, var(--tblr-light), var(--tblr-dark) 70%);
}

.text-muted {
    color: var(--tblr-muted) !important;
}

.input-group {
    box-shadow: none !important;
}

.input-group-text {
    color: inherit !important;
    background-color: inherit !important;
}

// Temporary tabler fix, to remove once https://github.com/tabler/tabler/issues/2271 is fixed.
html {
    @include media-breakpoint-up(lg) {
        margin-left: 0 !important;
    }
}

// Disabled checkboxes and radio are almost invisible in tabler.
// We increase their opacity here to make them more accessible.
input.form-check-input[type="radio"]:disabled,
input.form-check-input[type="checkbox"]:disabled {
    opacity: 0.9;
}
