/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2025 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

html[dir='rtl'] {
    .form-select {
        background-position: left 1rem center;
    }

    .form-check {
        padding-right: 2rem;
        padding-left: initial;

        .form-check-input {
            margin-left: initial;
            margin-right: -2rem;
        }
    }

    .pe-2 {
        padding-left: 0.5rem!important;
        padding-right: initial!important;
    }

    .ms-md-4 {
        margin-left: initial!important;
        margin-right: 1.5rem !important;
    }

    .input-group-flat .form-control:not(:last-child) {
        border-left: 0;
        border-right: var(--tblr-border-width);
    }

    .input-group > :not(:first-child, .dropdown-menu, .valid-tooltip, .valid-feedback, .invalid-tooltip, .invalid-feedback) {
        margin-right: calc(-1 * var(--tblr-border-width));
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: var(--tblr-border-radius);
        border-bottom-left-radius: var(--tblr-border-radius);
    }

    .input-group:not(.has-validation) > :not(:last-child, .dropdown-toggle, .dropdown-menu, .form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu .dropdown-item {
        padding-left: initial;
        padding-right: calc(calc(calc(var(--tblr-page-padding) * 2) / 2) + 1.75rem);
    }

    .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-toggle::after {
        margin-right: auto;
        margin-left: initial;
    }

    .dropdown-menu[data-bs-popper] {
        right: 0;
        left: initial;
    }

    .dropdown-menu-end[data-bs-popper] {
        right: initial;
        left: 0;
    }

    .dropstart .dropdown-menu[data-bs-popper] {
        left: 100%;
        right: initial;
    }

    .header-container.container-fluid {
        padding-right: calc(var(--tblr-gutter-x) * 0.5)!important;
        padding-left: 0!important;
    }

    .dropdown-menu-arrow.dropdown-menu-end::before {
        left: 0.75rem;
        right: auto;
    }

    .ribbon-top.ribbon-start {
        right: 0.75rem;
        left: auto;
    }

    .me-0 {
        margin-left: 0!important;
        margin-right: initial!important;
    }

    .ms-1 {
        margin-right: 0.25rem!important;
        margin-left: initial!important;
    }

    .ms-2 {
        margin-right: 0.5rem!important;
        margin-left: initial!important;
    }

    .ms-3 {
        margin-right: 1rem!important;
        margin-left: initial!important;
    }

    .ms-4 {
        margin-right: 1.5rem!important;
        margin-left: initial!important;
    }

    .ms-5 {
        margin-right: 2rem!important;
        margin-left: initial!important;
    }

    .ms-6 {
        margin-right: 2.5rem!important;
        margin-left: initial!important;
    }

    .navbar-vertical.navbar-expand-lg {
        right: 0;
        left: initial;
    }

    .navbar-expand-lg.navbar-vertical ~ .navbar, .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
        margin-right: 15rem;
        margin-left: initial;
    }

    .force-full-width {
        margin-right: calc(50% - 50vw);
        margin-left: initial;
    }

    .ps-0 {
        padding-right: 0!important;
        padding-left: initial!important;
    }

    .ps-1 {
        padding-right: 0.25rem!important;
        padding-left: initial!important;
    }

    .ps-2 {
        padding-right: 0.5rem!important;
        padding-left: initial!important;
    }

    .ps-3 {
        padding-right: 1rem!important;
        padding-left: initial!important;
    }

    .ps-4 {
        padding-right: 1.5rem!important;
        padding-left: initial!important;
    }

    .ps-5 {
        padding-right: 2rem!important;
        padding-left: initial!important;
    }

    .ps-6 {
        padding-right: 2.5rem!important;
        padding-left: initial!important;
    }

    .me-0 {
        margin-left: 0!important;
        margin-right: initial!important;
    }

    .me-1 {
        margin-left: 0.25rem!important;
        margin-right: initial!important;
    }

    .me-2 {
        margin-left: 0.5rem !important;
        margin-right: initial !important;
    }

    .me-3 {
        margin-left: 1rem!important;
        margin-right: initial!important;
    }

    .me-4 {
        margin-left: 1.5rem !important;
        margin-right: initial !important;
    }

    .me-5 {
        margin-left: 2rem!important;
        margin-right: initial!important;
    }

    .me-6 {
        margin-left: 2.5rem !important;
        margin-right: initial !important;
    }

    #page .tab_cadre_fixe, .qtip .tab_cadre_fixe, .modal .modal-body .tab_cadre_fixe {
        text-align: right;
    }
}
