/** Language selector */
#language_link form {
   margin-top: 6px;
}

/** Dropdowns */
.box-body > dl {
   margin-bottom: 0;
}

.fa.wentity {
   color: #3A5693;
}

.fa.woentity {
   color: #ccc;
}
/** /Dropdowns */

/** Debug stuff */
#see_debug, #backtotop {
   position: fixed;
   bottom: .1em;
   right: .1em;
   cursor: pointer;
   color: white;
   z-index: 99; /* Behind debug panel */
}

#debugtabs {
   background: #fff;
   position: fixed !important;
   left: 0 !important;
   bottom: 0 !important;
   top: inherit !important;
   height: 300px !important;
   z-index: 1000 !important;
   width: 100%;
   margin: 0;
   overflow: auto;
}

#debugtabs .box-body {
   padding-top: 0;
}

#debugtabs table {
   width: 100%;
}
/** /debug stuff */

ul.pagination {
   margin: 0;
}

/** Alpha msg */
.alpha {
   text-align: center;
   border-radius: 0!important;
   padding-top: .1em!important;
   padding-bottom: .1em!important;
}
.alpha h4 {
   margin: 0!important;
}
.alpha h4 span {
   margin: 0 1em;
}
/** /Alpha msg */
