<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../bootstrap.php"
       backupGlobals="false"
       colors="true">
    <testsuites>
        <testsuite name="GLPI API">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./inc</directory>
            <directory>./config</directory>
        </whitelist>
    </filter>
    <php>
        <const name="GLPI_CONFIG_DIR" value="./config" />
    </php>
</phpunit>
