/* ===== LOGIN ===== */

#firstboxlogin  {
   background-color: #f8f7f3;
}

#logo_login {
   background: url(../pics/logo_infotel.png) center no-repeat;
   margin: 30px!important;
}

#display-login {
   color: #f8f7f3;
}

#text-login {
   background-color: #004F91;
   color: #f8f7f3;
}

#boxlogin label {
    color: #004F91;
    font-size: 1.2em;
}

/* ====== GENERAL ====== */
/*
a, a:link {
    color : #004F91;
}*/
a, a:link {
    color : #004F91;
}

a:hover {
   color: #CCC;
}

.main_form tr.headerRow th {
   color: #8CABDB;
}

/* ====== HEADER ====== */

#header_top {
   background-color: #004F91;
}

#c_preference a {
   color: #C7DBF5;
}

#c_recherche form #champRecherche input {
   background-color: #131425;
   color: #C7DBF5;
}

#c_menu {
   background-color: #004F91;
}

ul#menu a.itemP, ul#menu a.itemP1 {
   color: #FFF;
}

ul#menu > li.active,
ul.ssmenu li.active {
   background-color: #8CABDB;
}

ul#menu > li:hover {
   background-color: #8BAADA;
}

ul#menu ul li a:hover {
   background: #004F91;
   color: #C7DBF5;
}

ul#menu ul li a {
   color: #131425;
}

/* ====== BUTTONS ====== */
input.submit {   
  background-color: #004F91;
  color: #fff;
  border: 1px solid #CCC;
}
input.submit:hover {
   background-color: #CCC;
   color: #004F91;
}
a.vsubmit, 
.vsubmit a {
   color: #004F91;
}

#BackToTop {
   background-color: #004F91;
   color: #FFF;
}

#boxlogin input[type=text]:focus,
#boxlogin input[type=password]:focus{
   border-color:#004F91;
   background-color: #fff;
   -moz-box-shadow:0 0 3px #004F91;
   -webkit-box-shadow:0 0 3px #004F91;
}
/*
input.submit, 
span.vsubmit, a.vsubmit, 
#BackToTop {
   padding: 5px;
   cursor:pointer;
   height: auto;
   font: bold 12px Arial, Helvetica;
   color: #FFF;
   background-color: #004F91;
   border: 0; 
}*/

#header #c_logo {
   position: absolute;
   z-index: 1000;
   width: 146px;
   height: 45px;
   float: left;
   margin-top: 3px;
   background: url("../pics/logo_Infotel_Blanc.png") 0 0 repeat-x;
}

.tab_bg_1 {
   background-color: #F2F0EB;
}

.tab_bg_2 {
   background-color: #CFD8DC;
}

.tab_cadrehov tr.rowHover,
.tab_cadrehov td.rowHover,
.tab_cadre_fixehov tr.rowHover,
.tab_cadre_fixehov td.rowHover{
   background-color:#9CAFC2;
   color: #000;
}

.central .tab_cadre_fixehov th, .central .tab_cadrehov th {
   background-color: #004F91;
   color: #FFF;
}

.tab_cadrehov th.headHover,
.tab_cadre_fixehov th.headHover{
   background-color:#004F91;
   color: #FFF;
}

.tab_cadrehov td.columnHover,
.tab_cadre_fixehov td.columnHover{
   background-color:#F3F3F3;
}

.tab_cadre td, .tab_cadre_fixehov td, .tab_cadrehov td, .tab_cadre_fixe td, .tab_cadre_ticket td {
   border:1px solid #EEE;/*EEE*/
   /*background-color:#F0F1F2;*/
}

.label-checkbox .box {
   top: -2px;
   border:1px dotted #B5B5BF;
   border-radius: 3px;
   height:16px; 
   width:16px;
}

.subheader .box,
th .label-checkbox .box {
   border:1px dotted #B5B5BF;
}

.label-checkbox .check {
   top: -5px;
   left: 4px;
   width: 8px;
   height: 16px;
   border:3px solid #293540;
   border-top: none;
   border-left: none;
   opacity:0; 
   -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg);
}


.actor_single {
   /*border-top: 1px dashed #AAA;*/
   padding: 15px 0 8px 0;
   margin-top: 8px;
   background-color: #F2F0EB;
} 

.tab_cadre_ticket {
   margin: 0px auto 5px auto;
   /*border: 1px solid #cccccc;*/
   background: #FFF;
   z-index:1;
   text-align: left;
   font-size: 11px;
   max-width:950px;
   width: 100%;
   border-spacing: 0;
   margin-left: 360px;
}

.tab_cadre th, .tab_cadre_fixe th, .tab_cadre_fixehov th, .tab_cadrehov th {
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -o-border-radius: 4px;
   padding: 2px;
   border-radius: 0;
   margin: 0;
   font-size: 1.1em;
   color: #FFF;
   padding: 10px 5px;
   background-color:#004F91;
}

.tab_actors {
   display: table;
}

.actor_title, .actor-bloc {
   display: table-cell;
   float: none;
   vertical-align: top;
   background-color: #F2F0EB;
}

.actor_title, .actor-head {
   color: #FFF;
   background-color:#004F91;
   /*margin: 0;*/
}

.tab_cadre_fixehov th a, .tab_cadrehov th a {
   color: #FFF;
   font-size: 1.1em;
}

.tab_cadre_ticket th {
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -o-border-radius: 4px;
   padding: 2px;
   border-radius: 0;
   margin: 0;
   font-size: 1.1em;
   color: #FFF;
   padding: 10px 5px;
   background-color:#004F91;
}

.actor_head {
   background-color: #004F91;
   margin: 0 1px;
   padding: 1px 0;
   height: 16px;
}

.actor_row {
   margin-bottom: 8px;
}

#page {
   padding: 8px 8px 20px 8px;
   min-height: 80%;
   margin: 15px auto;
   background-color:#f8f7f3;
}

/* ################--------------- Responsive  ---------------#################### */

@media screen and (max-width: 700px) {
   #page {
      padding-top: 130px;
   }
}
/*
.layout_lefttab #page .new_form_tabs .ui-tabs-nav {
   display: none;
}*/

.entity-tree {
   z-index: 1000;
   float: right !important;
   position:relative;
   margin:0 auto;
   padding:10px;
   background-color: #FFFFFF;
   border:1px solid #DDD;
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
}

#entitysearchtext_close{
    float:right;
    width:5px;
    height:5px;
    margin-top: -7px;
    margin-right: -6px;
}

.tree_entitycategory{
    display:none;
    position:relative;
    width:400px;
}

#c_ssmenu2 ul li {
   float: left;
   padding: 5px 10px 0 10px;
}

/* ====== TIMELINE ====== 

.timeline_choices li.followup {
   background-color:#FCE9A1;
   color:#535353;
}
.timeline_choices li.task {
   background-color: #FCCE5D;
   color: #535353;
}
.timeline_choices li.document {
   background-color:#9FD6ED;
   color:#3A5D4E;
}
.timeline_choices li.solution {
   color:#425B64;
}

.timeline_history .h_content.TicketFollowup {
   background-color: #FCE9A1;
   color: #535353;
}

.timeline_history .h_content.TicketTask {
   background-color: #FCCE5D;
   color: #38301F;
}

.timeline_history .h_content.Solution {
   background-color: #80CEAD;
   color: #425B64;
}

.timeline_history .h_content.TicketContent {
   background-color: #CCC;
   color: #093806;
   background-repeat: no-repeat;
}

.edit_document,
.delete_document {
   opacity: 1;
}

.timeline_history .filter_timeline label {
   opacity: 1;
}

.timeline_history .filter_timeline ul li {
   opacity: 1;
}
.timeline_history .filter_timeline:hover ul li {
   opacity: 1;
}

.timeline_history .timeline_img_preview img {
   width: 300px;
}
*/
.tdkb_result {
   vertical-align:top;
   text-align:left;
   width: 33%;
   padding: 3px 20px 3px 25px;
}

.tab_cadre_kb {
   margin: 0 auto;
   padding: 4px;
   margin: 1px;
   border: 1px solid #aaaaaa;
   background-color: #ffffff;
   border-radius: 5px;
   font-size : 12px;
   font-weight: bold;
   z-index:1;
   text-align: left;
   width:100%;
}

.fn-gantt .navigate .nav-slider {
    width: auto!important;
    display: inline-block;
}