$primary: #FEC95C;
$secondary: #606f91;

$link-color: #3A5693;

$sidebar_bg: #384461;
$sidebar_fg: #f4f6fa;

$logo: "../pics/logos/logo-GLPI-100-white.png";
$logo_reduced: "../pics/logos/logo-G-100-white.png";

@import "css/styles";
