
/* ===== LOGIN ===== */

#firstboxlogin  {
   background-color: #585957;
}

#logo_login {
   background: url(../../pics/login_logo_glpi.png) center no-repeat, #161514; 
}

#display-login {
   color: #FFF;
}

#text-login {
   background-color: #161514;
   color: #FFF;
}


/* ====== GENERAL ====== */

a, a:link, .ui-widget-content a {
   color: #161514;
}

.main_form tr.headerRow th {
   color: #262626;
}

/* ====== HEADER ====== */

#header_top {
   background-color: #161514;
}

#c_preference a {
   color: #585957;
}

#c_recherche form #champRecherche input {
   background-color: #3F403E;
   color: #FFF;
}

#c_menu {
   background-color: #585957;
}

ul#menu a.itemP, ul#menu a.itemP1 {
   color: #FFF;
}

ul#menu > li.active,
ul.ssmenu li.active {
   background-color: #161514;
}

ul#menu > li.active > a,
ul#menu ul.ssmenu li.active > a {
   color: #FFF;
}

ul#menu > li:hover {
   background-color: #3F403E;
}

ul#menu ul li a:hover {
   background: #262626;
   color: #FFF;
}

ul#menu ul li a {
   color: #585957;
}

/* ====== BUTTONS ====== */

input.submit, 
span.vsubmit, a.vsubmit,
.ui-widget-content span.vsubmit, a.vsubmit, 
#BackToTop {
   color: #fff;
   background-color: #585957;
}
.vsubmit a {
   color: #fff;
   text-decoration: underline;
}

input.submit:hover, 
a.vsubmit:hover, 
#BackToTop:hover {
   background-color: #585957;
}

/* ====== Breadcrumb ====== */

.breadcrumb_item:nth-of-type(3) {
   background-color: #585957;
}
.breadcrumb_item:nth-of-type(3) a {
   color: #fff !important;
}
.breadcrumb_item:nth-of-type(3):after {
   border-left-color: #585957;
}