/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2023 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

$is-dark: true;

.btn-primary,
.btn-outline-primary,
.btn-ghost-primary {
    --tblr-btn-color-text: red;
}

//$header-fg: $light;
//$header-border-color: transparent;
//$header-badge-bg: $light;
//$header-badge-fg: $dark;
//$tabs-bg: #222121;
//$tabs-fg: $light;
//$tabs-border: transparent;
//$tabs-active-bg: #3a3938;
//$tabs-active-fg: #aaa;
//$tabs-active-border: transparent;
//$badge-bg: $light;
//$badge-fg: $dark;
//$input-border: #333;
//$input-focus-bg: #35455a;
//$input-focus-border-color: #b4bfce;
//$input-disabled-bg: #35404e;
//$table-border-color: #1f2936;
//$search_border: rgba(101, 109, 119, 16%);
//$table_border: rgba(101, 109, 119, 16%);
//$border-color: rgba(101, 109, 119, 16%);
//$table-th-bg: #2c3b4f;
//$table-th-color: $light;
//$itil-secondary-bg: #222121 !default;

:root[data-glpi-theme="darker"] {
    --tblr-dark: #242323;
    --tblr-light: #aaaaaa;
    --tblr-body-bg: #1f1e1e;
    --tblr-body-color: #aaaaaa;
    --tblr-bg-surface: #242323;
    --tblr-primary-rgb: 88, 89, 87;
    --tblr-primary-fg: #aaaaaa;
    --tblr-secondary: #737572;
    --tblr-secondary-fg: #f3f3f3;
    --tblr-link-color: #888888;
    --tblr-muted: #aaaaaa;
    --glpi-mainmenu-bg: #242323;
    --glpi-mainmenu-fg: #f4f6fa;
}
