
/* ===== LOGIN ===== */

#firstboxlogin  {
   background-color: #006573;
}

#logo_login {
   background: url(../../pics/login_logo_glpi.png) center no-repeat, #008B8D; 
}

#display-login {
   color: #FFF;
}

#text-login {
   background-color: #008B8D;
   color: #FFF;
}


/* ====== GENERAL ====== */

a, a:link, .ui-widget-content a {
    color : #006573;
}

.main_form tr.headerRow th {
   color: #81BEAA;
}

/* ====== HEADER ====== */

#header_top {
   background-color: #006573;
}

#c_preference a {
   color: #81BEAA;
}

#c_recherche form #champRecherche input {
   background-color: #005572;
   color: #F4D4AD;
}

#c_menu {
   background-color: #008B8D;
}

ul#menu a.itemP, ul#menu a.itemP1 {
   color: #fff;
}

ul#menu ul li a {
   color: #006573;
}

ul#menu > li.active ,
ul.ssmenu li.active {
   background-color: #006573;
}
ul#menu > li.active > a,
ul#menu ul.ssmenu li.active > a {
   color: #FFF;
}

ul#menu > li:hover, 
ul#menu > li:hover > a {
   background-color: #81BEAA;
   color: #000;
}

ul#menu ul li a:hover {
   background: #81BEAA;
   color: #000;
}

/* ====== BUTTONS ====== */

input.submit, 
span.vsubmit, a.vsubmit,
.ui-widget-content span.vsubmit, a.vsubmit, 
#BackToTop {
   color: #816644;
   background-color: #F4D4AD;
}
.vsubmit a {
   color: #816644;
   text-decoration: underline;
}

input.submit:hover, 
a.vsubmit:hover, 
#BackToTop:hover {
   background-color: #F4D4AD;
}

/* ====== Breadcrumb ====== */

.breadcrumb_item:nth-of-type(3) {
   background-color: #F4D4AD;
}
.breadcrumb_item:nth-of-type(3) a {
   color: #816644 !important;
}
.breadcrumb_item:nth-of-type(3):after {
   border-left-color: #F4D4AD;
}