/* ====== BODY ====== */

body {
  background-color: #fefefe;
}

/* ===== LOGIN ===== */

#firstboxlogin  {
   background-color: #006573;
}

#logo_login {
   background: url(../../pics/login_logo_glpi.png) center no-repeat, #008B8D; 
}

#display-login {
   color: #FFF;
}

#text-login {
   background-color: #008B8D;
   color: #FFF;
}


/* ====== GENERAL ====== */

a, a:link, .ui-widget-content a {
    color : #8783c2;
}

.main_form tr.headerRow th {
   color: #81BEAA;
}

/* ====== HEADER ====== */

#header_top {
  background: linear-gradient(to top, #353166, #524b9d);
}

#c_preference a {
   color: #8783c2;
}

#c_recherche form #champRecherche input, #c_recherche form #champRecherche input::-webkit-input-placeholder {
   background-color: #4e4996;
   color: #fff;
}

#c_menu {
   background-color: #564B7F;
}

ul#menu a.itemP, ul#menu a.itemP1 {
   color: #fff;
}

ul#menu ul li a {
   color: #6660b2;
}

ul#menu > li.active ,
ul.ssmenu li.active {
   background-color: #3c3874;
}
ul#menu > li.active > a,
ul#menu ul.ssmenu li.active > a {
   color: #FFF;
}

ul#menu > li:hover, 
ul#menu > li:hover > a {
   background-color: #3c3874;
   color: #fff;
}

ul#menu ul li a:hover {
   background: #403b7b;
   color: #fff;
}

/* ====== BUTTONS ====== */

input.submit {   
  background-color: #5953ab;
  color: #fff;
}
input.submit:hover {
   background-color: #736eb9;
   -moz-box-shadow: initial;
   -ms-box-shadow: initial;
   -webkit-box-shadow: initial;
}
a.vsubmit {
   background-color: #6660b2;
   color: #fff;
}
a.vsubmit:hover {
   background-color: #736eb9;
   -moz-box-shadow: initial;
   -ms-box-shadow: initial;
   -webkit-box-shadow: initial;
}
#BackToTop {
   background-color: #635692;
   color: #fff;
}

/* ====== BREADCRUMB ====== */

#c_ssmenu2 .breadcrumb_item:nth-of-type(3) {
   background-color: #4e4996;
}
#c_ssmenu2 .breadcrumb_item:nth-of-type(3) a {
   color: #fff;
}
#c_ssmenu2 .breadcrumb_item:nth-of-type(3):after {
   border-left-color: #4e4996;
}

/* ====== PANEL ====== */
 /* + Tabs */

.tab_bg_4 {
  background-color: #efeef5;
}

/* ====== FOOTER ====== */

#footer {
  background-color: #635692;
}

#footer .copyright,
#footer .right a {
  color: #fff;
}