
/* ===== LOGIN ===== */

#firstboxlogin  {
   background-color: #006573;
}

#logo_login {
   background: url(../../pics/login_logo_glpi.png) center no-repeat, #008B8D; 
}

#display-login {
   color: #FFF;
}

#text-login {
   background-color: #008B8D;
   color: #FFF;
}


/* ====== GENERAL ====== */

a, a:link, .ui-widget-content a {
    color : #006573;
}

.main_form tr.headerRow th {
   color: #81BEAA;
}

/* ====== HEADER ====== */

#header_top {
   background-color: #064260;
}

#c_preference a {
   color: #f2ef9f;
}

#c_recherche form #champRecherche input, #c_recherche form #champRecherche input::-webkit-input-placeholder {
   background-color: #096390;
   color: #fff;
}

#c_menu {
   background-color: #bf0805;
}

ul#menu a.itemP, ul#menu a.itemP1 {
   color: #fff;
}

ul#menu ul li a {
   color: #bf0805;
}

ul#menu > li.active ,
ul.ssmenu li.active {
   background-color: #064260;
}
ul#menu > li.active > a,
ul#menu ul.ssmenu li.active > a {
   color: #FFF;
}

ul#menu > li:hover, 
ul#menu > li:hover > a {
   background-color: #064260;
   color: #fff;
}

ul#menu ul li a:hover {
   background: #c90805;
   color: #fff;
}


/* ====== BUTTONS ====== */

input.submit {   
  background-color: #bf0805;
  color: #fff;
}
input.submit:hover {
   background-color: #f9201d;
}
a.vsubmit {
   background-color: #bf0805;
   color: #fff;
}
a.vsubmit:hover {
   background-color: #d6665a;
}
#BackToTop {
   background-color: #FF5131;
   color: #fff;
}

/* ====== BREADCRUMB ====== */

#c_ssmenu2 .breadcrumb_item:nth-of-type(3) {
   background-color: #064260;
}
#c_ssmenu2 .breadcrumb_item:nth-of-type(3) a {
   color: #fff;
}
#c_ssmenu2 .breadcrumb_item:nth-of-type(3):after {
   border-left-color: #064260;
}