
<div id="edit_compound_dialog"  class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            {# Header #}
            <div class="modal-header">
                <h5 class="modal-title"> {{ __("Edit group") }} </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {# Body #}
            <div class="modal-body">
                <form>
                    <div class="form-group mb-3">
                        <label class="form-label" for="compound_name">
                            {{ __("Name") }}
                        </label>
                        <input type="text" class="form-control" name="compound_name"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="compound_color">
                            {{ __("Color") }}
                        </label>
                        <input type="color" class="form-control" name="compound_color"/>
                    </div>
                </form>
            </div>

            {# Actions #}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="edit_compound_save"> {{ __("Save") }} </button>
            </div>

        </div>
    </div>
</div>
