<div id="ongoing_dialog"  class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            {# Header #}
            <div class="modal-header">
                <h5 class="modal-title"> {{ __("Ongoing tickets") }} </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {# Body #}
            <div class="modal-body"></div>

        </div>
    </div>
</div>
