
{% if is_user_connected %}
<form action="{{ path('front/search.php') }}" roel="search" method="get">
   <div class='input-group'>
      <input type="text" class="form-control" name="globalsearch" placeholder="{{ __("Search…") }}">
      <button type="submit" class="btn btn-outline-secondary" title="{{ __("Search…") }}">
         <span class='fas fa-search' aria-hidden='true'></span>
      </button>
   </div>
</form>
{% endif %}