{% if get_current_interface() == 'central' %}
   <button class="btn btn-icon btn-sm btn-secondary trigger-fuzzy justify-content-start mb-md-2 ps-1"
           title="{{ __('Ctrl+Alt+G') }}"
           data-bs-toggle="tooltip"
           data-bs-placement="right">
      <i class="ti ti-arrow-big-right me-1"></i>
      <span class="menu-label">
         {{ __('Find menu') }}
      </span>
   </button>
{% endif %}
