{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% if get_current_interface() == 'central' %}
   {% set rand = random() %}
   {% set shortcut = __('Ctrl+Alt+G') %}
   {% if platform == constant("donatj\\UserAgent\\Platforms::MACINTOSH") %}
      {% set shortcut = __('Option+Command+G') %}
   {% endif %}

   <button class="btn btn-sm btn-ghost-secondary trigger-fuzzy justify-content-start mb-md-2"
           title="{{ shortcut }}"
           data-bs-toggle="tooltip"
           data-bs-placement="right">
      <i class="ti ti-arrow-big-right me-1"></i>
      <span class="menu-label {{ not is_vertical ? "d-block d-xl-none d-xxl-block" : "" }}">
         {{ __('Find menu') }}
      </span>
   </button>
   <div id="fuzzy-search-modal"></div>
   <script type="module">
       if (document.querySelector('#fuzzy-search-modal').__vue_app__ === undefined) {
           window.Vue.createApp(window.Vue.components['FuzzySearch/Modal'].component).mount('#fuzzy-search-modal');
       }
   </script>
{% endif %}
