{#
 ---------------------------------------------------------------------
 GLPI - Gestionnaire Libre de Parc Informatique
 Copyright (C) 2015-2020 Teclib' and contributors.

 http://glpi-project.org

 based on GLPI - Gestionnaire Libre de Parc Informatique
 Copyright (C) 2003-2014 by the INDEPNET Development Team.

 ---------------------------------------------------------------------

 LICENSE

 This file is part of GLPI.

 GLPI is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 GLPI is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 ---------------------------------------------------------------------
#}
            {% if is_debug_active %}
               <span class="fa-stack fa-lg" id="see_debug">
                  <i class="fa fa-circle fa-stack-2x primary-fg-inverse"></i>
                  <a href="#" class="fa fa-bug fa-stack-1x primary-fg" title=" {{ __('Display GLPI debug informations') }}">
                     <span class="sr-only">{{ __('Display GLPI debug informations') }}</span>
                  </a>
               </span>
               <script type="text/javascript">
                  $($('#see_debug').click(function(e) {
                     e.preventDefault();
                     $('body > .debug-pannel').css('display', 'block');
                  }));
               </script>
            {% endif %}
            </main> {# #page #}
         </div> {# .container-fluid #}

         {% if is_debug_active %}
         <footer class="footer d-print-none row">
            {{ __('%1$s - %2$s')|format(_n('%s second', '%s seconds', execution_time)|format(execution_time),memory_usage|format_binary()) }}
         </footer>
         {% endif %}
      </div> {# .content #}
   </div> {# .page #}

   {% for js_file in js_files %}
      <script type="text/javascript" src="{{ js_path(js_file) }}"></script>
   {% endfor %}
