<div {{ attributes }}>
    <strong>Random number: {{ this.randomNumber }}</strong>

    <div>
        <button data-action="live#$render" class="btn btn-cyan">Generate a new number!</button>
    </div>
</div>
