{% import "components/form/fields_macros.html.twig" as fields %}

<div id="new-itilobject-form">
   {% for timeline_itemtype in timeline_itemtypes %}
      <div class="timeline-item mb-3 ms-auto {{ timeline_itemtype.class }} collapse"
        id="new-{{ timeline_itemtype.class }}-block" aria-expanded="false" data-bs-parent="#new-itilobject-form">
         <div class="row">
            <div class="col-auto order-last d-none d-md-block">
               {% include "components/itilobject/user_picture.html.twig" with {'users_id': session('glpiID')} only %}
            </div>
            <div class="col">
               <div class="row timeline-content t-right card mt-4">
                  <div class="card-body">
                     <button class="btn btn-sm btn-ghost-secondary float-end close-itil-answer"
                             data-bs-toggle="collapse" data-bs-target="#new-{{ timeline_itemtype.class }}-block">
                        <i class="fas fa-2x fa-times"></i>
                     </button>
                     <div>
                        {% if timeline_itemtype.template is defined %}
                           {{ timeline_itemtype.item|showForm({'parent': item}) }}
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {% endfor %}
</div>
