{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2023 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set withtemplate = params['withtemplate'] ?? '' %}

{% if not (item.isNewItem()) %}
<div class="row">
   {% if item.isField('date_creation') %}
   <div class="col-sm-6 col-12">
      {{ __('Created on %s')|format(item.fields['date_creation']|formatted_datetime) }}
   </div>
   {% endif %}

   {% if item.isField('date_mod') %}
   <div class="col-sm-6 col-12">
      {{ __('Last update on %s')|format(item.fields['date_mod']|formatted_datetime) }}
   </div>
   {% endif %}
</div>
{% endif %}

{% if withtemplate is defined and withtemplate > 0 and item.fields['template_name']|length > 0 %}
<div class="row">
   <div class="col-12">
      {{ __('Created from the template %s')|format(item.fields['template_name']|verbatim_value) }}
   </div>
</div>
{% endif %}
