services:
  app:
    container_name: "glpi-test-app"
    image: "ghcr.io/glpi-project/${PHP_IMAGE:-githubactions-php-apache:8.3}"
    volumes:
      - type: "bind"
        source: "${APPLICATION_ROOT}"
        target: "/var/www/glpi"
      - type: "bind"
        source: "${APP_CONTAINER_HOME}"
        target: "/home/www-data"
