services:
  app:
    environment:
      # Custom path to playwright browsers to avoid file permission issues
      PLAYWRIGHT_BROWSERS_PATH_CACHE: "${PLAYWRIGHT_BROWSERS_PATH_CACHE}"
      PLAYWRIGHT_BROWSERS_PATH: "${PLAYWRIGHT_BROWSERS_PATH}"
      # E2E env is exposed on the 8090 port
      # See: https://github.com/glpi-project/docker-images/blob/main/githubactions-php-apache/files/etc/apache2/sites-available/000-default.conf
      E2E_BASE_URL: http://localhost:8090
    volumes:
      - type: "bind"
        source: "${PLAYWRIGHT_BROWSERS_PATH_CACHE}"
        target: "${PLAYWRIGHT_BROWSERS_PATH}"
