/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2022 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

.dates_timelines {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: left;

    ul {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 23px;
            bottom: 23px;
            left: 170px;
            width: 3px;
            background-color: #a8a8a8;
        }
    }

    li {
        margin: 35px 0;
        display: block;
    }

    time {
        height: 30px;
        position: absolute;
        left: 0;
        text-align: right;
        width: 145px;
        color: #999;
    }

    .dot {
        position: absolute;
        left: 160px;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #696969;
        box-sizing: content-box;

        &::before {
            color: #929292;
            font: var(--fa-font-solid);
            padding-left: 3px;
        }
    }

    .now {
        font-weight: bold;
        color: inherit !important;

        time {
            font-weight: bold;
            color: inherit !important;
        }

        .dot {
            background-color: #49baf6;
            border-color: #4a9bc5;
        }
    }

    .creation .dot {
        border: 0;
        font-size: 15px;
        height: 18px;
        left: 161px;

        &::before {
            content: "\2a";
        }
    }

    .passed {
        time,
        label {
            border-color: #ff0014;
            color: #ff0014;
        }

        .dot {
            border-color: #ff0014;
            color: #ff0014;

            &::before {
                content: "\21";
                padding-left: 8px;
                color: #e54e5a;
            }
        }
    }

    .checked .dot::before {
        content: "\f00c";
    }

    .end .dot {
        border: 0;
        font-size: 15px;
        left: 163px;

        &::before {
            content: "\f024";
        }
    }

    label {
        position: absolute;
        left: 190px;
        text-align: right;
    }
}
