.itil-footer {
   .action-task {
      background-color: $timeline-task-bg;
      color: $timeline-task-fg;
   }

   .action-solution {
      background-color: $timeline-sol-bg;
      color: $timeline-sol-fg;
   }
}
