{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
<span>
   {% if with_restore is not defined or with_restore is same as(true) %}
      {% include "elements/button.twig" with {
         'form_class': 'center',
         'notag': true,
         'element': {
            'name': 'restore',
            'value': __('Restore'),
            'width': glpi_form.columns|default(null),
            'class': 'btn btn-warning'
         }
      } %}
   {% endif %}

   {% set delete_class = '' %}
   {% if with_check is not defined or with_check is same as(true) %}
      {% include "elements/checkbox.twig" with {
         'notag': true,
         'element': {'name': 'checkpurge'}
      } %}
      {% set delete_class = 'with_check' %}
   {% endif %}
   {% include "elements/delete.twig" with {
      'form_class': 'center',
      'notag': true,
      'element': {
         'name': 'purge',
         'class': delete_class,
         'value': __('Delete permanently'),
         'width': glpi_form.columns|default(null)
      }
   } %}
</span>
