{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
{% extends "elements/input.twig" %}

{% block component %}
    {% set element = element|merge({
        'type':           'text',
        'readonly':       true,
        'autocomplete':   'off',
        'posticons':      true,
        'clear':          true
    }) %}
    {{ parent() }}
{% endblock %}

{% block post_element %}
    {% if element.clear %}
    <div class="input-group-append">
        <button
            class="btn btn-outline-secondary"
            title="{{ __('Copy token in clipboard') }}" data-toggle="tooltip"
        >
            <span class='fas fa-copy'></span>
            <span class="sr-only">{{ __('Copy token in clipboard') }}</span>
        </button>
        <div class="input-group-text">
            <input name="_reset_personal_token" value="1" type="checkbox" title="{{ __('Regenerate token') }}" data-toggle="tooltip"/>
        </div>
    </div>
    {% endif %}
{% endblock %}
