{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<div class="d-flex mb-3 align-items-center">
    <i class="{% block icon %}{% endblock %} me-2"></i>
    <h2 class="mb-0 fs-3">{% block title %}{% endblock %}</h2>
    <i
        class="ti ti-x ms-auto pointer"
        data-glpi-knowbase-side-panel-close
        title="{{ __("Close") }}"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
    ></i>
</div>

<hr class="mt-0 ms-n4 me-n4 mb-4">

{% block content %}{% endblock %}
