/**
 * -------------------------------------------------------------------------
 * Webhook Parser plugin for GLPI
 * -------------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of Webhook Parser.
 *
 * Webhook Parser is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * Webhook Parser is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Webhook Parser. If not, see <http://www.gnu.org/licenses/>.
 * -------------------------------------------------------------------------
 * @copyright Copyright (C) 2021-2023 by Teclib'
 * @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 * @link      https://github.com/glpi-network/hookparser
 * -------------------------------------------------------------------------
 */

.aa-InputWrapperPrefix {
   display: none;
}

.aa-InputWrapperSuffix {
   display: none;
}

.aa-Panel {
   position: absolute; z-index: 1000;
   background-color: var(--input-bg);
   color: var(--input-color);
   max-height: 200px;
   overflow: auto;
}

.aa-List {
   list-style: none;
   padding-left: 0;
}

.aa-List .aa-Item {
   padding: 5px 10px;
   cursor: pointer;
}

.aa-Autocomplete .aa-InputWrapper input.aa-Input {
   color: var(--input-color) !important;
   background-color: var(--input-bg) !important;
}
