/**
Override the override of mixins by tabler over bootstrap
which broke styles of btn-group > .btn-check
*/

@mixin button-check($color,
   $color-hover: color-contrast($color),
   $active-background: $color,
   $active-border: $color,
   $active-color: color-contrast($active-background)
) {

   .btn-check:checked + &,
   .btn-check:active + & {
     color: $active-color;
     background-color: $active-background;
     border-color: $active-border;
   }
}

//.btn-group {
   @each $color, $value in $theme-colors {
      .btn-#{$color} {
      @include button-check($value, $value);
      }
   }

   @each $color, $value in $theme-colors {
      .btn-outline-#{$color} {
         @include button-check($value);
      }
   }
//}
