/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2023 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

/**
 * Callouts used by bootstrap 4 in their documentation
 * Quick and easy way to make some text pop off
 */

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;

    h2 {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    code {
        border-radius: 0.25rem;
    }
}

.callout + .callout {
    margin-top: -0.25rem;
}

.callout-info {
    border-left-color: var(--tblr-info);

    h2 {
        color: var(--tblr-info);
    }
}

.callout-warning {
    border-left-color: var(--tblr-warning);

    h2 {
        color: var(--tblr-warning);
    }
}

.callout-danger {
    border-left-color: var(--tblr-danger);

    h2 {
        color: var(--tblr-danger);
    }
}
