/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2024 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

/**
 * Styles for inputs that are disguised as "content editable" DOM elements
 * This inputs may be more convenient than real "content-editable" elements for
 * some use cases (richtext editor, ...)
 */

// Padding for content-editable inputs
// Must not be too high as content-editable is usually done without padding
$inline-input-padding: 2px 4px;

.content-editable-h2 {
    // Copy h2 styles
    font-size: 1.2rem !important;
    line-height: 1.5rem;
    font-weight: var(--tblr-font-weight-medium);
    border: 0;
    padding: $inline-input-padding;
    margin-bottom: 1rem;
    background-color: transparent;

    &:hover {
        box-shadow: 0 0 0 0.25rem rgba(var(--tblr-primary-rgb), 0.20);
    }
}


.content-editable-tinymce {
    // Remove default border and padding, add similar hover style used on our inputs
    .tox-tinymce {
        border-color: transparent !important;
        padding: $inline-input-padding;

        &:hover {
            box-shadow: 0 0 0 0.25rem rgba(var(--tblr-primary-rgb), 0.20);
        }
    }

    // Status bar is empty here, do not display to gain some vertical space
    .tox-statusbar {
        display: none !important;
    }

    // Small left padding to match our content-editable inputs padding
    .tox-toolbar__primary {
        .tox-toolbar__group:first-child {
            padding-left: 2px !important;
        }
    }

    // Hide richtext actions toolbor
    .tox-editor-header {
        // Can't use "display: none" as tinymce doens't like it and it break
        // the rendering of the header (probably caused by some calculations done
        // on width)
        opacity: 0;
        height: 0;
    }
}

// Simulate focus like a bootstrap input, needed for tinymce with some javascript
// help to trigger and remove the class as needed
.simulate-focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--tblr-primary-rgb), 0.20);

    // Show richtext toolbar only when focused
    .tox-editor-header {
        opacity: unset;
        height: unset;
    }
}

// Class inside tinymce's iframe, remove internal padding
.content-editable-tinymce-editor {
    margin: 0 !important;
    padding: 0 !important;
}
