#see_debug, #backtotop {
   position: fixed;
   bottom: 35px;
   right: 10px;
   cursor: pointer;
   z-index: 99;
}

#see_debug:hover, #backtotop:hover {
   opacity: .8;
}

#see_debug {
   &.wbttop {
      right: 60px;
   }
}

#maintenance-float {
   top: 0px;
   left: 250px;
   position: absolute;
   z-index: 9999;

   a {
      font-weight: bold;
      background-color: #fff;
      color: red;
   }
}