* {
   scrollbar-width: thin; /* FF only */
   scrollbar-color: $scrollbar-color-thumb $scrollbar-color-track; /* FF only */

   ::-webkit-scrollbar {
      width: 5px !important;
   }
   ::-webkit-scrollbar-track {
      background: $scrollbar-color-track !important;
   }
   ::-webkit-scrollbar-thumb {
      background: $scrollbar-color-thumb !important;
   }
}
