//<!--

  body 
  {  
    padding :0;
	margin :0;
	font-size : 13px;
 	background-color : #FFFFFF;
	color : #000000;
	font-family: verdana;
  }
  
  img {
  border: 0;
 
  }
   
  small 
  {  
    font-family: verdana;
	font-size: 10px;
	text-decoration: underline;
  }

  th   
  {  
    font-size: 13px;
    font-weight: bold;
    background-color: #D2F2D5;
  }

  td
  { font-size: 12px;
  }

  b
  {
    font-wheight: bold;
  }
 
  form
  {font-size: 12px;
  }

  A:link
  {
    font-wheight: bold;
    text-decoration: none;
  	color : #009966;
  }

  A:visited
  {
	text-decoration: none;
  	color: #009966;
  }

  A:hover
  {
    color: black;
  }


#navigation{
	background-color: #C5DAC8;
	border-top: thin solid #009966;
	border-right: thin solid #009966;
	border-bottom: 3px solid #009966;
	border-left: thin solid #009966;
	margin-bottom: 10px;
	padding: 5px;
	
	}
#navigation a{
		font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #000000;
	background-color: transparent;
	text-decoration: none;
}

#navigation a:hover{
		font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #FFFFFF;
	text-decoration: none;
	border: none;
	font-weight: normal;
	background-color: #339966;
}

#footer{
	background-color: #C5DAC8;
	border-top: thin solid #009966;
	border-right: thin solid #009966;
	border-bottom: 3px solid #009966;
	border-left: thin solid #009966;
	padding: 5px;
	margin-top: 200px;
	 clear:both;
	}


.tab_bg_1 {
background-color: #cccccc;

}

.tab_bg_2 {
background-color: #dddddd;

}

.tab_bg_3 {
background-color: #eeeeee;

}

//-->
