{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<h2>{{ __("One last thing before starting") }}</h2>

<p>
   {{ glpinetwork|raw }}
</p>

<hr>
<form action="install.php" method="post" data-submit-once>
   <p>
   <button type="submit" name="submit" class="btn btn-primary">
      {{ __("Continue") }}
      <i class="fas fa-chevron-right ms-1"></i>
   </button>
   </p>

   <input type='hidden' name='install' value='Etape_6'>
   <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
</form>
