{% set timeline_stats = item|getTimelineStats() %}
{% set total_duration = timeline_stats['total_duration'] ?? 0 %}
{% set todo_percent = timeline_stats['percent_done'] ?? 0 %}

<div class="timeline_stats my-3">
   <div class="mb-2 ms-1 text-muted">
      {{ __('Total duration: %s')|format(timestampToString(total_duration)) }}
   </div>
   <div class="d-flex">
      <span class="task-progress-label mx-2">
         {{ todo_percent }}%
      </span>
      <div class="progress ms-2 me-4 mt-1">
         <div class="progress-bar timeline-progress" role="progressbar" style="width: {{ todo_percent }}%;"
              aria-valuenow="{{ todo_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
   </div>
</div>
