
.select2-container {
   display: inline-block;

   .select2-selection {
      &.select2-selection--single {
         max-width: 270px;

         .select2-selection__rendered {
            direction: rtl; // ellipsis on left
         }
      }
   }

   .select2-rendered__match {
      text-decoration: underline;
   }
}
