<div class="row form-container">
    <div class="col-9">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-8 mb-3">
                    <div class="card">
                        <div class="card-status-top bg-primary"></div>
                        <div class="card-body">
                            <h3>Form</h3>
                            <p class="text-muted">description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 side">
        <span>Side</span>
    </div>
</div>


<style>
    .form-container {
    }

    .side {
        border-left: 1px solid #e6e7e9;
        height: 100vh;
        background-color: #fff;
        /* background-color: #f8fafc; */
        margin-top: -1.25em;
        overflow: scroll;
    }
</style>
