{% block content_block %}
   <div class="alert alert-danger alert-important">
      <div class="d-flex">
         <div class="me-2">
            <i class="fas fa-exclamation-triangle fa-2x"></i>
         </div>
         <div>
            {{ message }}
         </div>
      </div>
   </div>
{% endblock %}
