{% set messages = getMessagesAfterRedirect() %}
{% if messages|length %}

   {% for type, message in messages %}
      {% set message = message|join('<br>') %}
      {% set class = "" %}
      {% set title = "" %}
      {% if type == constant('ERROR') %}
         {% set class = "alert-danger" %}
         {% set title = __("Error") %}
      {% elseif type == constant('WARNING') %}
         {% set class = "alert-warning" %}
         {% set title = __("Warning") %}
      {% else %}
         {% set class = "alert-info" %}
         {% set title = _n("Information", "Information", 1) %}
      {% endif %}

      <div class="alert alert-important {{ class }}" role="alert">
         <h3>{{ title }}</h3>
         <p>
            {{ message|raw }}
         </p>
      </div>
   {% endfor %}
{% endif %}
