{#
 # ---------------------------------------------------------------------
 # GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2015-2022 Teclib' and contributors.
 #
 # http://glpi-project.org
 #
 # based on GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2003-2014 by the INDEPNET Development Team.
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # GLPI is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # GLPI is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 #}

{% set messages = pull_messages() %}
{% if messages|length %}

   {% for type, message in messages %}
      {% set message = message|join('<br />') %}
      {% set class = '' %}
      {% set title = '' %}
      {% if type == constant('ERROR') %}
         {% set class = 'alert-danger' %}
         {% set title = __('Error') %}
      {% elseif type == constant('WARNING') %}
         {% set class = 'alert-warning' %}
         {% set title = __('Warning') %}
      {% else %}
         {% set class = 'alert-info' %}
         {% set title = _n('Information', 'Informations', 1) %}
      {% endif %}

      <div class="alert alert-important {{ class }}" role="alert">
         <h3>{{ title }}</h3>
         <p>
            {{ message|raw }}
         </p>
      </div>
   {% endfor %}
{% endif %}
