<div id="{{= it.group_id }}" class="rules-group-container">
  <div class="rules-group-header">
    <div class="btn-group group-conditions">
      {{~ it.conditions: condition }}
        <label class="btn btn-xs btn-default">
          <input type="radio" name="{{= it.group_id }}_cond" value="{{= condition }}"> {{= it.translate("conditions", condition) }}
        </label>
      {{~}}
    </div>
    {{? it.settings.display_errors }}
      <div class="error-container"><i class="{{= it.icons.error }}"></i></div>
    {{?}}
  </div>
  <div class=rules-group-body>
    <div class=rules-list></div>
  </div>
  <div class="btn-group group-actions">
      <button type="button" class="btn btn-xs btn-success" data-add="rule">
        <i class="{{= it.icons.add_rule }}" title="{{= it.translate("add_rule") }}"></i>
      </button>
      {{? it.settings.allow_groups===-1 || it.settings.allow_groups>=it.level }}
        <button type="button" class="btn btn-xs btn-success" data-add="group">
          <i class="{{= it.icons.add_group }}" title="{{= it.translate("add_group") }}"></i>
        </button>
      {{?}}
      {{? it.level>1 }}
        <button type="button" class="btn btn-xs btn-danger" data-delete="group">
          <i class="{{= it.icons.remove_group }}" title="{{= it.translate("delete_group") }}"></i>
        </button>
      {{?}}
    </div>
</div>
