{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set params = {
   action: 'create',
   itemtype: itemtype,
   type: type
} %}
{% if _get['savedsearches_id'] is defined %}
   {% set params = params|merge({
      id: _get['savedsearches_id'],
   }) %}
{% endif %}

<button type="button" name="save_bookmark_record" class="btn btn-sm px-2 btn-outline-secondary btn-icon"
        title="{{ __('Save current search') }}" data-bs-toggle="tooltip" data-bs-placement="bottom">
   <i class="ti ti-bookmark-plus {{ active ? 'active text-yellow' : '' }}"></i>
</button>
<div id="savedsearch-modal" class="modal" data-params="{{ params|json_encode }}"></div>
