{% set theme = user_pref('palette') %}
{% if css_files is not defined %}
   {% set css_files = ["public/lib/base.css", "css/palettes/" ~ theme ~ ".scss"] %}
   {# TODO : load hight contrast css #}
{% endif %}
{% if js_files is not defined %}
   {% set js_files = ["public/lib/base.js", "public/lib/tabler.js", "js/common.js"] %}
{% endif %}

{% include "layout/parts/head.html.twig" %}
<body>
   <div class="flex-fill d-flex flex-column justify-content-center py-4 mt-4">
      {% set style = "" %}
      {% if card_md_width is defined %}
         {% set style = 'style="max-width: 40rem"' %}
      {% endif %}
      {% if card_bg_width is defined %}
         {% set style = 'style="max-width: 60rem"' %}
      {% endif %}

      <div class="container-tight py-6" {{ style|raw }}>
         <div class="text-center">
            <div class="col-md">
               <img src="{{ path('pics/logos/logo-GLPI-250-black.png') }}" alt='GLPI' title='GLPI' class="mb-4">
            </div>
         </div>
         <div class="card card-md">
            <div class="card-body">
            {% block content_block %}{% endblock %}
            </div>
         </div>

         <div class="text-center text-muted mt-3">
            {% block footer_block %}{% endblock %}
         </div>
      </div>
   </div>

   {% block javascript_block %}{% endblock %}
</body>
</html>