{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<div id="debug-toolbar-applet"></div>

<script type="module">
    const debug_toolbar_applet = window.Vue.createApp(window.Vue.components['Debug/Toolbar'].component, {
        initial_request: {{ debug_info|json_encode|raw }}
    });
    // Add WidgetButton component which was build with webpack
    debug_toolbar_applet.component('widget-button', window.Vue.components['Debug/WidgetButton'].component);
    const widget_components = window.Vue.getComponentsByName(/^Debug\/Widget\//);
    for (const widget_name in widget_components) {
        // DebugWidgetServerPerformance => widget-server-performance, DebugWidgetSQLRequests => widget-sqlrequests
        const registered_name = widget_name.replace(/Debug\/Widget\//g, 'widget').replace(/([a-z])([A-Z])/g, '$1-$2').toLowerCase();
        debug_toolbar_applet.component(registered_name, widget_components[widget_name].component);
    }
    debug_toolbar_applet.mount('#debug-toolbar-applet');
</script>
